<div class="modal-header hts-post-title">
    <!--<span class="pull-left hover-pointer" ng-click="alert('fullscreen zen editor soon.')">-->
        <!--<i class="fa fa-arrows-alt"></i>-->
    <!--</span>-->
    <span ng-show="!jsonObj.category_name  && !manualCategorySelect.show">Create New Post</span>
    <select ng-show="jsonObj.category_name || manualCategorySelect.show" ng-change="manualCategorySelect.init()" class="btn btn-mini category-select" ng-model="jsonObj.category" tooltip-placement="bottom" tooltip="{{manualCategorySelect.tooltip}}" tooltip-trigger="show">
        <optgroup ng-repeat="category in allCategories" label="{{category.name}}">
            <option ng-repeat="childCategory in category.categories" value="{{childCategory.code}}">{{childCategory.name | capitalize}}</option>
        </optgroup>
    </select>
    <span ng-show="jsonObj.category_name" class="drop-down-caret">
        <i class="fa fa-angle-down"></i>
    </span>

    <span class="close-sell-box" ng-click="dismiss('cancel post')">
        <i class="fa fa-close" style="font-size: 1.5em;"></i>
    </span>

</div>
<div class="modal-body dropzone hts-post-modal-body" dropzone="dropzoneConfig">

    <alert type="info" style="font-size: 17px;" close="clearExampleReminder()" ng-show="toggleExampleVisibility">
        <b>Example: </b>
        "<i>I'm selling my <span class="mention-highlighter" contenteditable="false">#item name</span>&nbsp;
        for  <span  class="mention-highlighter-price" contenteditable="false">$item price</span>&nbsp;
        <span class="mention-highlighter-location" contenteditable="false">@meeting location</span>&nbsp;"</i>
        <br>
        <br>
        <small>Pro tip: Multiple hashtags make our product prediction smarter!  Also, don't include a price if you're listing an item for free.</small>
        <br>
        <br>
        <button ng-show="!showDemo" class="btn btn-primary" ng-click="hideDemo()">Show video example</button>
        <button ng-show="showDemo" class="btn btn-primary" ng-click="hideDemo()">Stop video</button>
    </alert>

    <alert ng-repeat="banner in alerts.banners" type="{{banner.type}}" close="closeAlert($index)">{{banner.msg}}</alert>

    <!--<pre>-->
        <!--{{jsonObj}}-->
    <!--</pre>-->

    <img class='sell-box-image img-responsive' ng-src='{{img}}' ng-show="showDemo"/>

    <div class="sell-box" ng-show="!showDemo">
        <div class="row remove-row-margins">
            <div class="hts-input-container">
                <div id="htsPost"
                     ng-class="jsonObj.category_name ? 'col-md-10' : 'col-md-12' "
                     class="hts-input" style="clear:both;"
                     mentio
                     contenteditable
                     sellbox
                     ng-focus="clearPlaceholder()"
                     mentio-require-leading-space="false"
                     mentio-macros="macros"
                     mentio-id="'hashtag'"
                     mentio-typed-term="typedTerm"
                     ng-model="jsonObj.body">
                    <span>Try it yourself, begin typing here...</span>
                </div>

                <div ng-class="{ 'hts-annotations-container' : jsonObj.category_name}">
                    <div ng-show="jsonObj.annotations.length" ng-repeat="annotation in jsonObj.annotations">
                        <input ng-model="jsonObj.annotations[$index].value" placeholder="{{annotation.key}}" class="hts-annotation-input">
                    </div>
                    <div ng-show="!jsonObj.annotations.length && jsonObj.category_name">
                        <div class="spinner">
                            <div class="bounce1"></div>
                            <div class="bounce2"></div>
                            <div class="bounce3"></div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="row remove-row-margins">
            <div class="inset-toolbar">
                <div>
                    <div style="position: absolute; bottom: 15px;">
                        <button id="imageUpload" class="btn btn-primary" style="height: 45px; border-radius: 0px 0px 0px 4px;">
                            <i class="fa fa-camera"></i> Add photo
                        </button>
                    </div>

                    <progressbar value="uploadProgress" id="imgPreviewsContainer" class="dz-preview-container progress-striped active">{{uploadMessage}}</progressbar>

                    <div style="position: absolute; right: 15px; bottom: 15px;" class="sellModalButton" popover-placement="left" popover="Publish on Amazon, eBay, Craigslist, and HashtagSell!" popover-trigger="show">
                        <button class="btn btn-primary" ng-click="validatePost()" style="height: 45px; border-radius: 0px 0px 4px 0px;">
                            <i class="fa fa-slack"></i> Sell It
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!--ng-TEMPLATES-->

<mentio-menu id="mentioMenu" class="mentioMenuProducts"
        mentio-for="'hashtag'"
        mentio-trigger-char="'#'"
        mentio-items="products"
        mentio-template-url="/product-mentions.tpl"
        mentio-search="searchProducts(term)"
        mentio-select="getProductTextRaw(item)">
</mentio-menu>

<mentio-menu id="mentioMenu" class="mentioMenuPlaces"
        mentio-for="'hashtag'"
        mentio-trigger-char="'@'"
        mentio-items="places"
        mentio-template-url="/place-mentions.tpl"
        mentio-search="searchPlaces(term)"
        mentio-select="getPlacesTextRaw(item)">
</mentio-menu>

<mentio-menu id="mentioMenu" class="mentioMenuPrices"
        mentio-for="'hashtag'"
        mentio-trigger-char="'$'"
        mentio-items="prices"
        mentio-template-url="/price-mentions.tpl"
        mentio-search="searchPrice(term)"
        mentio-select="getPricesTextRaw(item)">
</mentio-menu>

<script type="text/ng-template" id="/product-mentions.tpl">
    <ul class="list-group user-search demo-scrollable-menu">
        <li mentio-menu-item="product" ng-repeat="product in items" class="list-group-item">

            <span class="text-primary" ng-bind-html="product.value | mentioHighlight:typedTerm:'menu-highlighted' | unsafe"></span>

        </li>
    </ul>
</script>

<script type="text/ng-template" id="/place-mentions.tpl">
    <ul class="list-group user-search demo-scrollable-menu">
        <li mentio-menu-item="place" ng-repeat="place in items" class="list-group-item">

            <span class="text-primary" ng-bind-html="place.description | mentioHighlight:typedTerm:'menu-highlighted' | unsafe"></span>

        </li>
    </ul>
</script>


<script type="text/ng-template" id="/price-mentions.tpl">
    <ul class="list-group user-search demo-scrollable-menu">
        <li mentio-menu-item="price" ng-repeat="price in items" class="list-group-item">

            <span class="text-primary" ng-bind-html="price.suggestion | mentioHighlight:typedTerm:'menu-highlighted' | unsafe"></span>

        </li>
    </ul>
</script>


<script type="text/ng-template" id="dropzone-thumbnail.html">
        <div class="dz-preview">
            <img data-dz-thumbnail />
            <i data-dz-remove class="fa fa-times dz-remove"></i>
        </div>
        <div>
            <strong class="error text-danger" data-dz-errormessage></strong>
        </div>
</script>
