
<link rel="stylesheet" href="/angular-ivh-treeview/dist/ivh-treeview.css"/>

<div ui-view></div>

<div class="outer-container col-xs-12">
    <img ng-if="pleaseWait" src="/images/logo/hashtag_spinner.gif" class="spinner-abs-center"/>
    <div vs-repeat class="inner-container row" vs-size-property="feedItemHeight" vs-offset-before="20">
        <div class="feed-item" style="cursor: pointer;" ng-repeat="result in results | unique: 'external_id'"
             ng-click="openSplash(this)"
             ng-class="{hasPrice: result.price, hasImage: result.images.length}"
             data-category="{{::result.category}}"
             data-email="{{::result.annotations.source_account}}"
             data-lat="{{::result.location.lat}}"
             data-long="{{::result.location.long}}"
             data-sourceUrl="{{::result.external_url}}"
             data-postDate="{{::result.annotations.original_posting_date}}"
                >
            <div class="thumbnail">
                <ribbon ng-if="!!result.price" data-price="{{::result.price}}">{{::result.price | currency : $ : 0}}</ribbon>
                <div class="row">
                    <div class="col-sm-3 col-sm-push-9" style="z-index: 999">
                        <hts-fave-toggle></hts-fave-toggle>
                    </div>
                </div>

                <!--Has NO image-->
                <div ng-if="!result.images.length">
                    <div class="row">
                        <div class="col-lg-5 col-md-6 col-sm-6 col-xs-6">
                            <div class="noImage-Placeholder"></div>
                        </div>
                        <div class="col-lg-7 col-md-6 col-sm-6 col-xs-6 noImage-TextContainer">
                            <div class="row">
                                <div class="caption">
                                    <h4 class="noImage-heading">{{::result.heading}}</h4>
                                    <p class="noImage-body">{{::result.body}}</p>
                                </div>
                            </div>

                            <div class="row">
                                <div class="text-center">
                                    <transaction-buttons result="result"></transaction-buttons>
                                </div>
                            </div>

                            <div class="row">
                                <div class="pull-left noImage-timestamp" data-postDate="{{::result.timestamp}}">
                                    Posted {{(currentDate - result.timestamp) | secondsToTimeString}} ago.
                                </div>
                                <div class="pull-right noImage-distance" data-distance="{{::result.distanceFromUser}}">
                                    <i class="fa fa-location-arrow"></i>&nbsp;{{::result.distanceFromUser | number:0}} mi.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <!--Has ONE image-->
                <div ng-if="result.images.length == 1">
                    <div class="row">
                        <div class="col-lg-5 col-md-6 col-sm-6 col-xs-6">
                            <img ng-src="{{::result.images[0].full || result.images[0].thumb || result.images[0].images}}" class="img-responsive singleImage-Image">
                        </div>
                        <div class="col-lg-7 col-md-6 col-sm-6 col-xs-6 singleImage-TextContainer">
                            <div class="row">
                                <div class="caption">
                                    <h4 class="singleImage-heading">{{::result.heading}}</h4>
                                    <p class="singleImage-body">{{::result.body}}</p>
                                </div>
                            </div>

                            <div class="row">
                                <div class="text-center">
                                    <transaction-buttons result="result"></transaction-buttons>
                                </div>
                            </div>

                            <div class="row">
                                <div class="pull-left singleImage-timestamp" data-postDate="{{::result.timestamp}}">
                                    Posted {{(currentDate - result.timestamp) | secondsToTimeString}} ago.
                                </div>
                                <div class="pull-right singleImage-distance" data-distance="{{::result.distanceFromUser}}">
                                    <i class="fa fa-location-arrow"></i>&nbsp;{{::result.distanceFromUser | number:0}} mi.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <!--Has MULTIPLE images-->
                <div ng-if="result.images.length > 1">
                    <div class="row">
                        <div class="col-lg-12">
                            <slick-carousel
                                settings="slickConfig"
                                media="result.images">
                            </slick-carousel>
                        </div>
                    </div>

                    <div class="row">
                        <div class="caption">
                            <h4 class="carousel-heading">{{::result.heading}}</h4>
                            <p class="carousel-body">{{::result.body}}</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="text-center">
                            <transaction-buttons result="result"></transaction-buttons>
                        </div>
                    </div>

                    <div class="row">
                        <div class="pull-left carousel-timestamp" data-postDate="{{::result.timestamp}}">
                        Posted {{(currentDate - result.timestamp) | secondsToTimeString}} ago.
                        </div>
                        <div class="pull-right carousel-distance" data-distance="{{::result.distanceFromUser}}">
                            <i class="fa fa-location-arrow"></i>&nbsp;{{::result.distanceFromUser | number:0}} mi.
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<!--Category Tree-->
<div class="feed-category-container hidden-sm hidden-xs">

    <input type="text" ng-model="filterCategories" ng-change="expandTree()" class="form-control" placeholder="Quick-Search Categories" style="width: 200px; margin-top: 20px;"/>

    <div class="feed-inner-container">
        <!--Category tree selector-->
        <div ivh-treeview="feedCategoryObj.nestedCategories"
             ivh-treeview-label-attribute="'name'"
             ivh-treeview-id-attribute="'code'"
             ivh-treeview-children-attribute="'children'"
             ivh-treeview-selected-attribute="'selected'"
             ivh-treeview-change-handler="categoryOnChange"
             ivh-treeview-filter="filterCategories"
             class="panel panel-default feed-category-selector">
        </div>

    </div>
    <div>
        Select the category of items you want to see in your feed.
    </div>
</div>