<div ng-repeat="offer in post.offers.results">
    <!--Template to show if logged in user is creator of offer-->
    <div style="border: 1px solid; border-color: #e5e6e9 #dfe0e4 #d0d1d5; margin-bottom: 20px; padding: 0px;" class="col-md-10 col-xs-12" ng-if="userObj.user_settings.name === offer.username">
        <div style="background-color: #ffffff; padding: 10px;">
            <div>
                <img ng-src="{{offer.userProfile.profile_photo}}" height="40" style="position: relative; top: -12px;">
                <div style="display: inline-block">
                    <div>
                        @{{offer.username}}
                    </div>
                    <div>
                        Sent {{offer.modifiedAt | date:"MMMM d 'at' h:mma"}}
                    </div>
                </div>
                <div>
                    <div class="dropdown" dropdown on-toggle="toggled(open)" style="position: absolute; top: 10px; right: 15px;">
                        <a href class="dropdown-toggle" dropdown-toggle><i class="fa fa-chevron-down"></i></a>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li>
                                <a href ng-click="cancelOffer(offer)">Cancel my offer</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="form-group">
                    <div>
                        I'm interested in viewing your {{post.heading}}.  Can you meet at any of the time(s) below?
                    </div>
                    <br>
                    <ul ng-repeat="proposedTime in offer.proposedTimes">
                        <li>{{proposedTime.when | date : 'EEE, MMM d h:mm a'}}</li>
                    </ul>
                </div>
            </div>
        </div>
        <div style="padding: 10px; background-color: #F4A460; color:#ffffff" ng-show="!offer.acceptedAt.length">
            You'll be notified as soon as the seller responds.  Hang Tight!
        </div>
    </div>
</div>
<div class="col-xs-12">
    <span ng-show="!post.offers.results.length">Keep track of how many users requested to view the {{post.heading}}</span>
    <span ng-show="post.offers.results.length && userObj.user_settings.name !== post.offers.results[0].username">{{post.offers.results.length}} other users have request to view this item.</span>
</div>