<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<form id="updatePasswordForm" name="updatePasswordForm" class="form-horizontal" ng-submit="updatePassword(updatePasswordForm.$valid)" novalidate>
    <div class="modal-header">
        <h3 id="myModalLabel">Update Your Password</h3>
    </div>
    <div class="modal-body">
        <div class="control-group">
            <label class="control-label" for="currentPassword">Current Password:</label>
            <div class="controls">
                <input type="password" name="currentPassword" ng-model="currentPassword" required>
            </div>

            <br>

            <label class="control-label" for="newPassword">New Password:</label>
            <div class="controls">
                <input type="password" ng-minlength="4" ng-maxlength="30" name="newPassword" ng-model="newPassword" required>
                <p ng-show="updatePasswordForm.newPassword.$error.minlength" class="help-block"><small class="text-danger">Password is too short.</small></p>
                <p ng-show="updatePasswordForm.newPassword.$error.maxlength" class="help-block"><small class="text-danger">Password is too long.</small></p>
            </div>

            <br>

            <label class="control-label" for="verifyNewPassword">Verify New Password:</label>
            <div class="controls">
                <input type="password" name="veryifyNewPassword" ng-model="verifyNewPassword" matchinput="newPassword" required>
                <p ng-show="updatePasswordForm.veryifyNewPassword.$error.match" class="help-block"><small class="text-danger">New passwords do not match</small></p>
                <br>
                <small id="msg-change-password" class="text-danger">
                    {{message}}
                </small>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <input class="btn btn-success" type="submit" value="Update Password" ng-disabled="updatePasswordForm.$invalid">
        <button class="btn btn-default" ng-click="dismiss('dismiss')">Close</button>
    </div>
</form>
</body>
</html>