<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

    <form id="resetPasswordForm" name="resetPasswordForm" class="form-horizontal" ng-submit="resetPassword(resetPasswordForm.$valid)" novalidate>
        <div class="modal-header">
            <h3 id="myModalLabel">Reset Password</h3>
        </div>
        <div class="modal-body">
            <div class="controls">
                <input class="form-control" type="password" name="newPassword" ng-model="newPassword" placeholder="New password" ng-minlength="4" ng-maxlength="30" ng-pattern="/^[a-zA-Z0-9.!@#$%&*~+=-_]*$/" required>
                <!--<br>-->
                <small class="text-danger">
                    {{message}}
                </small>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-success" type="submit" ng-class="resetPasswordForm.$invalid ? 'btn-warning' : 'btn-success'" ng-disabled="resetPasswordForm.$invalid">
                <span ng-show="resetPasswordForm.newPassword.$error.minlength">Password is too short.</span>
                <span ng-show="resetPasswordForm.newPassword.$error.pattern">Remove spaces in password.</span>
                <span ng-show="!resetPasswordForm.newPassword.$error.minlength &&
                    !resetPasswordForm.newPassword.$error.pattern &&
                    resetPasswordForm.$invalid"
                        >Type password</span>
                <span ng-show="!resetPasswordForm.newPassword.$error.minlength &&
                    !resetPasswordForm.newPassword.$error.pattern &&
                    !resetPasswordForm.$invalid"
                        >Submit new password</span>
            </button>
            <!--<button class="btn btn-default" ng-click="dismiss()">Close</button>-->
        </div>
    </form>

</body>
</html>