<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <form id="changePasswordForm" name="changePasswordForm" class="form-horizontal" ng-submit="changePassword(changePasswordForm.$valid)" novalidate>
        <div class="modal-header">
            <h3 id="myModalLabel">Change your password</h3>
        </div>
        <div class="modal-body">
            <div class="control-group">
                <label class="control-label" for="newpassword">New Password:</label>
                <div class="controls">
                    <input type="password" ng-minlength="4" ng-maxlength="30" name="newpassword" ng-model="newpassword" required>
                    <p ng-show="changePasswordForm.newpassword.$error.minlength" class="help-block"><small>Password is too short.</small></p>
                    <p ng-show="changePasswordForm.newpassword.$error.maxlength" class="help-block"><small>Password is too long.</small></p>
                </div>

                <br>

                <label class="control-label" for="verifypassword">Verify Password:</label>
                <div class="controls">
                    <input type="password" name="veryifypassword" ng-model="verifypassword" match="newpassword" required>
                    <p ng-show="changePasswordForm.veryifypassword.$error.match" class="help-block"><small>Passwords do not match</small></p>
                    <br>
                    <small id="msg-change-password" style="color:red;">
                        {{message}}
                    </small>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <input class="btn btn-success" type="submit" value="Save me!" ng-disabled="changePasswordForm.$invalid">
            <button class="btn btn-default" ng-click="dismiss('dismiss')">Close</button>
        </div>
    </form>
</body>
</html>