<div ui-view></div>

<div ng-show="status.error.message" class="background-instructions">
    <div class="inset-background-text" ng-bind-html="status.error.message">

    </div>
</div>

<div class="outer-container col-xs-12">
    <spinner ng-if="spinner.show" class="spinner-container" spinner-text="Finding recently posted items around you"></spinner>

    <div vs-repeat class="inner-container feed row" vs-size="feedItemHeight" vs-offset-before="77" vs-excess="10">
        <div class="list-item" ng-repeat="result in results.items" ng-click="openSplash(this)">
            <div class="thumbnail">

                <ribbon-list ng-if="!!result.askingPrice.value">{{::result.askingPrice.value | currency : $ : 0}}</ribbon-list>

                <!--Has NO image-->
                <div ng-if="!result.images.length">
                    <div class="row">
                        <div class="caption">
                            <h3 class="noImage-heading" ng-bind-html="result.heading | cleanHeading"></h3>
                            <hts-fave-toggle class="carousel-starPositioning"></hts-fave-toggle>
                            <p class="noImage-body" ng-bind-html="result.body |cleanBodyExcerpt"></p>
                            <div class="pull-left carousel-timestamp">
                                <small>Posted {{(currentDate.timestamp - result.external.threeTaps.timestamp) | secondsToTimeString}} ago.</small>
                            </div>
                        </div>
                    </div>
                </div>


                <!--Has ONE image-->
                <div ng-if="result.images.length == 1">
                    <div class="row">
                        <div class="col-lg-5 col-md-6 col-sm-6 col-xs-6">
                            <img ng-src="{{::result.images[0].full || result.images[0].thumb || result.images[0].images}}" class="img-rounded singleImage-Image">
                        </div>
                        <div class="col-lg-7 col-md-6 col-sm-6 col-xs-6 singleImage-TextContainer">
                            <div class="row">
                                <div class="caption">
                                    <h3 class="singleImage-heading" ng-bind-html="result.heading | cleanHeading"></h3>
                                    <hts-fave-toggle class="singleImage-starPositioning"></hts-fave-toggle>
                                    <p class="singleImage-body" ng-bind-html="result.body |cleanBodyExcerpt"></p>
                                    <div class="pull-left singleImage-timestamp">
                                        <small>Posted {{(currentDate.timestamp - result.external.threeTaps.timestamp) | secondsToTimeString}} ago.</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <!--Has MULTIPLE images-->
                <div ng-if="result.images.length > 1">
                    <div class="row">
                        <div class="col-lg-12">
                            <slick data="result.images" lazy-load='progressive' init-onload=true dots=true infinite=true slides-to-scroll=1 speed=100 variable-width=true center-mode=false next-arrow=".next-arrow-ctl{{$index}}" prev-arrow=".prev-arrow-ctl{{$index}}">


                                <button ng-click="$event.stopPropagation();" type="button" data-role="none" class="slick-prev prev-arrow-ctl{{$index}}" aria-label="previous" style="display: block;">Previous</button>

                                <button ng-click="$event.stopPropagation();" type="button" data-role="none" class="slick-next next-arrow-ctl{{$index}}" aria-label="next" style="display: block;">Next</button>

                                <div ng-repeat="image in result.images">
                                    <img data-lazy="{{image.thumb || image.thumbnail || image.images || image.full}}"/>
                                </div>
                            </slick>
                        </div>
                    </div>

                    <div class="row">
                        <div class="caption">
                            <h3 class="carousel-heading" ng-bind-html="result.heading | cleanHeading"></h3>
                            <hts-fave-toggle class="carousel-starPositioning"></hts-fave-toggle>
                            <p class="carousel-body" ng-bind-html="result.body |cleanBodyExcerpt"></p>
                            <div class="pull-left carousel-timestamp">
                                <small>Posted {{(currentDate.timestamp - result.external.threeTaps.timestamp) | secondsToTimeString}} ago.</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>