<div ng-repeat="offer in post.offers.results">
    <span ng-repeat="proposedTime in offer.proposedTimes">

        <!--Unread meeting request-->
        <div ng-show="!proposedTime.acceptedAt" style="border: 1px solid; border-color: #e5e6e9 #dfe0e4 #d0d1d5; margin-bottom: 20px; padding: 0px;" class="col-md-10 col-xs-12">
            <div style="background-color: #ffffff; padding: 10px;">
                <div>
                    <img ng-src="{{offer.userProfile.profile_photo}}" height="40" style="position: relative; top: -12px;">
                    <div style="display: inline-block">
                        <div>
                            @{{offer.username}}
                        </div>
                        <div>
                            {{offer.modifiedAt | date:"MMMM d 'at' h:mma"}}
                        </div>
                    </div>

                    <div class="form-group">
                        <div>
                            Please select a time you're available to meet.
                        </div>
                        <br>
                        <div ng-repeat="proposedTime in offer.proposedTimes" ng-init="!!proposedTime.acceptedAt ? offer.response = proposedTime : null">
                            <input type="radio" ng-model="offer.response" ng-value="proposedTime">
                            {{proposedTime.when | date : 'EEE, MMM d h:mm a'}}
                        </div>
                        <div>
                            <input type="radio" ng-model="offer.response" value="Sorry, I'm not available during these times.  Please, submit some other times that may work for you.">
                            I'm not available during these times.
                        </div>
                    </div>
                </div>
            </div>
            <div class="unread-question">
                <img ng-src={{userObj.user_settings.profile_photo}} height="32">
                <div style="display: inline-block; width: 55%; position: relative; top: 5px;">
                    <input class="col-md-7 col-xs-12 form-control" height="32" style="position: relative; top: 8px;" placeholder="Include message.  (Optional)" ng-model="offer.message"/>
                </div>
                <div style="display: inline-block; position: relative;" ng-show="offer.response && !offer.response.when">
                    <button class="btn btn-danger" ng-click="declineOffer(offer, post)">Decline meeting request</button>
                </div>

                <div style="display: inline-block; position: relative;" ng-show="offer.response.when">
                    <button class="btn btn-primary" ng-click="acceptOffer(offer, post)">Accept meeting request</button>
                </div>
            </div>
        </div>


        <!--READ meeting request-->
        <div ng-show="proposedTime.acceptedAt" style="border: 1px solid; border-color: #e5e6e9 #dfe0e4 #d0d1d5; margin-bottom: 20px; padding: 0px;" class="col-md-10 col-xs-12">

            <span ng-show="!offer.updateResponse">
                <div style="background-color: #ffffff; padding: 10px;">
                    <div>
                        <img ng-src="{{offer.userProfile.profile_photo}}" height="40" style="position: relative; top: -12px;">
                        <div style="display: inline-block">
                            <div>
                                @{{offer.username}}
                            </div>
                            <div>
                                {{offer.modifiedAt | date:"MMMM d 'at' h:mma"}}
                            </div>
                        </div>

                        <div class="form-group">
                            <div ng-repeat="proposedTime in offer.proposedTimes" ng-init="!!proposedTime.acceptedAt ? offer.response = proposedTime : null">
                                <input type="radio" ng-model="offer.response" ng-value="proposedTime">
                                Awesome! You're scheduled to meet {{offer.username}} on {{proposedTime.when | date : 'EEE, MMM d h:mm a'}}.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="read-question">
                    <div style="display: inline-block; position: relative;" ng-show="offer.response.when">
                        <button class="btn btn-primary" ng-click="offer.updateResponse = true">Update my response</button>
                    </div>
                </div>
            </span>


            <span ng-show="offer.updateResponse">
                <div style="background-color: #ffffff; padding: 10px;">
                    <div>
                        <img ng-src="{{offer.userProfile.profile_photo}}" height="40" style="position: relative; top: -12px;">
                        <div style="display: inline-block">
                            <div>
                                @{{offer.username}}
                            </div>
                            <div>
                                {{offer.modifiedAt | date:"MMMM d 'at' h:mma"}}
                            </div>
                        </div>

                        <div class="form-group">
                            <div>
                                Please select a time you're available to meet.
                            </div>
                            <br>
                            <div ng-repeat="proposedTime in offer.proposedTimes" ng-init="!!proposedTime.acceptedAt ? offer.response = proposedTime : null">
                                <input type="radio" ng-model="offer.response" ng-value="proposedTime">
                                {{proposedTime.when | date : 'EEE, MMM d h:mm a'}}
                            </div>
                            <div>
                                <input type="radio" ng-model="offer.response" value="Actually, I'm not available during this time.  Please, submit some other times that may work for you.">
                                Whoops. This time no longer works for me.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="read-question">
                    <img ng-src={{userObj.user_settings.profile_photo}} height="32">
                    <div style="display: inline-block; width: 55%; position: relative; top: 5px;">
                        <input class="col-md-7 col-xs-12 form-control" height="32" style="position: relative; top: 8px;" placeholder="Include message.  (Optional)" ng-model="offer.message"/>
                    </div>
                    <div style="display: inline-block; position: relative;" ng-show="offer.response && !offer.response.when">
                        <button class="btn btn-danger" ng-click="declineOffer(offer, post)">Decline meeting request</button>
                    </div>

                    <div style="display: inline-block; position: relative;" ng-show="offer.response.when">
                        <button class="btn btn-success" ng-click="acceptOffer(offer, post)">Update meeting request</button>
                    </div>
                </div>
            </span>

        </div>

    </span>
</div>
<div class="col-xs-12">
    <!--<a ng-show="showAnswered && post.questions.results.length" ng-click="showAnswered = !showAnswered">Hide answered questions</a>-->
    <!--<a ng-show="!showAnswered && post.questions.results.length" ng-click="showAnswered = !showAnswered">Show all answered questions</a>-->
    <span ng-show="!post.offers.results.length">Buyer's requesting to view your {{post.heading | capitalize}} will appear here.</span>
</div>