<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

    <form id="forgotPasswordForm" name="forgotPasswordForm" class="form-horizontal" ng-submit="forgotPassword(forgotPasswordForm.$valid)" novalidate>
        <div class="modal-header">
            <h3 id="myModalLabel">Password Recovery</h3>
        </div>
        <div class="modal-body">
            <label class="control-label" for="recoveryId">Email Address:</label>
            <div class="controls">
                <input type="email" name="recoveryId" ng-model="email" required>
                <br>
                <small style="color:red;">
                    {{message}}
                </small>
            </div>
        </div>
        <div class="modal-footer">
            <input class="btn btn-success" type="submit" value="Save me!" ng-disabled="forgotPasswordForm.$invalid">
            <button class="btn btn-default" ng-click="dismiss()">Close</button>
        </div>
    </form>

</body>
</html>