/*Category checklist tree*/
ul.ivh-treeview {
    list-style-type: none;
    padding-left: 10px;
}
ul.ivh-treeview ul.ivh-treeview {
    padding-left: 40px;
}
ul.ivh-treeview .ivh-treeview-toggle {
    cursor: pointer;
}

.feed-category-container{
    position: fixed;
    margin-top: 57px;
    right: 0px;
    margin-right: 30px;
    width: 200px;
}


.feed-inner-container {
    max-height: 400px;
    margin-top: 12px;
    max-height: 400px;
    margin-bottom: 20px;
    overflow-y: auto;
    overflow-x: hidden;
}

.feed-category-selector {
    margin-bottom:0px;
}



.feed-category-container {
    position: fixed;
    margin-top: 57px;
    margin-left: 1120px;
    width: 200px;
}