.footer-master-container{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 65%;
    border: solid rgba(181,181,181,1);
    border-width: 2px 0px 0px 0px;
    background-color: #fff;
    transition: all .25s;
    -webkit-transition: all .25s;
    overflow-y: auto;
    overflow-x: hidden;
    transform:translatey(90%) translate3d(0,0,0);
    -webkit-transform:translatey(90%) translate3d(0,0,0);
    z-index: 1;
}

.footer-master-container.feedback-visible{
    transform:translatey(0%) translate3d(0,0,0);
    -webkit-transform:translatey(0%) translate3d(0,0,0);
}