.fa:hover {
    color: blue;
}



/*input[type="checkbox"].twitter{*/
    /*width: 0;*/
    /*height: 0;*/
    /*margin: 0;*/
    /*border: 0 none;*/
    /*padding: 0;*/
/*}*/

input[type="checkbox"].twitter:before{
    content: url('https://static.hashtagsell.com/logos/marketplaces/twitter_ad_unselected.png');
    display: block;
    width: 90px;
    height: 90px;
    overflow: hidden;
    position: absolute;
    top: -10px;
    right: 10px;
}

input[type="checkbox"].twitter:checked:before{
    content: url('https://static.hashtagsell.com/logos/marketplaces/twitter_ad_selected.png');
}

input[type="checkbox"].twitter:hover:before{
    content: url('https://static.hashtagsell.com/logos/marketplaces/twitter_ad_selected.png');
}








/*input[type="checkbox"].facebook{*/
    /*width: 0;*/
    /*height: 0;*/
    /*margin: 0;*/
    /*border: 0 none;*/
    /*padding: 0;*/
/*}*/

input[type="checkbox"].facebook:before{
    content: url('https://static.hashtagsell.com/logos/marketplaces/facebook_ad_unselected.png');
    display: block;
    width: 90px;
    height: 90px;
    overflow: hidden;
    position: absolute;
    top: -10px;
    right: 10px;
}

input[type="checkbox"].facebook:checked:before{
    content: url('https://static.hashtagsell.com/logos/marketplaces/facebook_ad_selected.png');
}

input[type="checkbox"].facebook:hover:before{
    content: url('https://static.hashtagsell.com/logos/marketplaces/facebook_ad_selected.png');
}







/*input[type="checkbox"].ebay{*/
    /*width: 0;*/
    /*height: 0;*/
    /*margin: 0;*/
    /*border: 0 none;*/
    /*padding: 0;*/
/*}*/

input[type="checkbox"].ebay:before{
    content: url('https://static.hashtagsell.com/logos/marketplaces/ebay_unselected.png');
    display: block;
    width: 90px;
    height: 90px;
    overflow: hidden;
    position: absolute;
    top: -10px;
    right: 10px;
}

input[type="checkbox"].ebay:checked:before{
    content: url('https://static.hashtagsell.com/logos/marketplaces/ebay_selected.png');
}

input[type="checkbox"].ebay:hover:before{
    content: url('https://static.hashtagsell.com/logos/marketplaces/ebay_selected.png');
}






/*input[type="checkbox"].amazon{*/
    /*width: 0;*/
    /*height: 0;*/
    /*margin: 0;*/
    /*border: 0 none;*/
    /*padding: 0;*/
/*}*/

input[type="checkbox"].amazon:before{
    content: url('https://static.hashtagsell.com/logos/marketplaces/amazon_unselected.png');
    display: block;
    width: 90px;
    height: 90px;
    overflow: hidden;
    position: absolute;
    top: -10px;
    right: 10px;
}

input[type="checkbox"].amazon:checked:before{
    content: url('https://static.hashtagsell.com/logos/marketplaces/amazon_selected.png');
}

input[type="checkbox"].amazon:hover:before{
    content: url('https://static.hashtagsell.com/logos/marketplaces/amazon_selected.png');
}





/*input[type="checkbox"].craigslist{*/
    /*width: 0;*/
    /*height: 0;*/
    /*margin: 0;*/
    /*border: 0 none;*/
    /*padding: 0;*/
/*}*/

input[type="checkbox"].craigslist:before{
    content: url('https://static.hashtagsell.com/logos/marketplaces/craigslist_unselected.png');
    display: block;
    width: 90px;
    height: 90px;
    overflow: hidden;
    position: absolute;
    top: -10px;
    right: 10px;
}

input[type="checkbox"].craigslist:checked:before{
    content: url('https://static.hashtagsell.com/logos/marketplaces/craigslist_selected.png');
}

input[type="checkbox"].craigslist:hover:before{
    content: url('https://static.hashtagsell.com/logos/marketplaces/craigslist_selected.png');
}