/*Feed Item Styling with Carousel*/
.slick-track {
    min-width: 100%;
}

/*.slick-list {*/
    /*height: 250px;*/
/*}*/


/*.slick-slide {*/
    /*height:250px;*/
/*}*/

.slick-slide img {
    height:250px;
    margin: 1px;
}

.slick-prev {
    left: 5px;
}

.slick-next {
    right: 5px;
}


/*Favorites Star*/
.star:before {
    font-family: FontAwesome;
    content: "\f006";
    color: #777777;
}

.star:hover:before{
    font-family: FontAwesome;
    content: "\f005";
    color: #f9b41d;
}

.starHighlighted:before {
    font-family: FontAwesome;
    content: "\f005";
    color: #f9b41d;
}



.carousel-heading {
    white-space: nowrap;
    overflow: hidden;
    max-width: 70%;
    text-overflow: ellipsis;
    margin-left: 15px;
    display: inline-block;
}

.carousel-body {
    height: 44px;
    line-height: 22px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-left: 15px;
    margin-right: 15px;
}

.carousel-timestamp {
    margin-left: 15px;
}

.carousel-distance-positioning {
    font-size: 15px;
    position: absolute;
    right: 14px;
    top: 315px;
}

.carousel-distance {
    font-size: 21px;
}

.carousel-starPositioning {
    position: relative;
    font-size: 23px;
    left: 3px;
    bottom: 14px;
}



/*Feed item with one image*/
.singleImage-Image {
    height: 250px;
    margin: 0 auto;
}

.singleImage-TextContainer {
    height: 250px;
}


.singleImage-heading {
    white-space: nowrap;
    overflow: hidden;
    max-width: 80%;
    text-overflow: ellipsis;
    display: inline-block;
}

.singleImage-body {
    height: 110px;
    line-height: 22px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: 15px;
}

.singleImage-timestamp {
    margin-left: 12px;
    position: absolute;
    bottom: 0;
    left: 0;
}

.singleImage-distance-positioning {
    margin-right: 30px;
    position: absolute;
    bottom: 0;
    right: 0;
}

.singleImage-distance {
    font-size: 21px;
}


.singleImage-starPositioning {
    position: relative;
    font-size: 21px;
    left: 3px;
    bottom: 13px;
}




/*Feed item has NO images*/
.noImage-Placeholder {
    height: 250px;
    margin: 0 auto;
    background-image: url('/images/app/img_placeholder.gif');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    opacity: 0.8;
}

.noImage-TextContainer {
    height: 250px;
}


.noImage-heading {
    white-space: nowrap;
    overflow: hidden;
    max-width: 80%;
    text-overflow: ellipsis;
    display: inline-block;
}

.noImage-body {
    height: 110px;
    line-height: 22px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: 15px;
}

.noImage-timestamp {
    margin-left: 12px;
    position: absolute;
    bottom: 0;
    left: 0;
}

.noImage-distance-positioning {
    margin-right: 30px;
    position: absolute;
    bottom: 0;
    right: 0;
}

.noImage-distance {
    font-size: 21px;
}


.noImage-starPositioning {
    position: relative;
    font-size: 21px;
    left: 3px;
    bottom: 13px;
}








/*results show in grid*/
.grid-item {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    float:left;
}

.grid-item .heading {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.grid-item .body {
    width: 100%;
    height: 60px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.grid-item .thumbnail {
    padding:0px !important;
}

.grid-item .thumbnail .fitImage {
    width: 100%;
    height: 216px;
    object-fit: cover;
}

.grid-item .starPositioning {
    position: absolute;
    font-size: 21px;
    right: 22px;
    bottom: 18px;
}


.grid-noImage-Placeholder {
    height: 216px;
    background-image: url('/images/app/img_placeholder.gif');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.loadingMore {
    position: absolute;
    bottom: 5px;
    left: 40%;
}





/*Price ribbon*/
ribbon{
    clear:both;
    position:absolute;
    color:#fff;
    background:#149bdf;
    text-shadow:0 -1px #149bdf, 0 1px #149bdf;
    font-size:1.1em;
    float:left;
    padding:4px 10px 4px 10px;
    margin-left:-10px;
    margin-top:4px;
    margin-bottom:20px;

    -moz-box-shadow:2px 2px 0 rgba(0,0,0,0.1);
    -webkit-box-shadow:2px 2px 0 rgba(0,0,0,0.1);
    -o-box-shadow:2px 2px 0 rgba(0,0,0,0.1);
    box-shadow:2px 2px 0 rgba(0,0,0,0.1);
    z-index: 1;
}

ribbon:before{
    content:" ";
    background:url(/images/priceRibbon/ribbon.png);
    display:block;
    width:10px;
    height:10px;
    position:absolute;
    bottom:0;
    left:0;
    margin-bottom:-10px;
    z-index:-1;
}





.thumbnail {
    -moz-column-break-inside: avoid;
    -webkit-column-break-inside: avoid;
    column-break-inside: avoid;
    margin: 0 0px 15px;
    border: 0px solid #FAFAFA;
    -webkit-box-shadow: rgba(0,0,0,0.3) 0 1px 4px;
    -moz-box-shadow: rgba(0,0,0,0.3) 0 1px 4px;
    box-shadow: rgba(0,0,0,0.3) 0 1px 4px;
    transition:all .25s;
    -webkit-transition:all .25s;
}