.results-list {
    padding-bottom: 57px;
}


.result-list-item {
    left: 20px;
    right: 15px;
}


/*@media screen and (max-width: 992px) {*/
    /*.result-list-item {*/
        /*left: 10px;*/
        /*right:0px;*/
    /*}*/
/*}*/


/*OFF CANVAS MAP*/
.angular-google-map-container {
    height: 100vh;
}


.results-container{
    position: absolute;
    overflow-y: hidden;
    overflow-x: hidden;
    top: 0px;
    bottom: 0;
    left: 0;
    right: 0;
}



.bootstrap-switch{
    min-width: 220px !important;
}

.bootstrap-switch-label{
    font-weight: normal;
}


.results-container.split-results-container{
    width: 50%;
}


.map-container{
    transition:all .25s;
    -webkit-transition:all .25s;

    position: absolute;
    top: 0;
    bottom: 0;
    right: -50%;
    width: 50%;
    height: 100%;
    transform: translateX(0%) translate3d(0,0,0);
    -webkit-transform:translateX(0%) translate3d(0,0,0);
}

.map-container.show-map{
    transform: translateX(-100%) translate3d(0,0,0);
    -webkit-transform:translateX(-100%) translate3d(0,0,0);
}