/* Start: Recommended Isotope styles */

/**** Isotope Filtering ****/



.isotope-item {
    z-index: 2;
    left: 10px !important;
}

.isotope-hidden.isotope-item {
    pointer-events: none;
    z-index: 1;
}

/**** Isotope CSS3 transitions ****/

.isotope,
.isotope .isotope-item {
    -webkit-transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    -ms-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
    transition-duration: 0.4;
}

.isotope {
    -webkit-transition-property: height, width;
    -moz-transition-property: height, width;
    -ms-transition-property: height, width;
    -o-transition-property: height, width;
    transition-property: height, width;
}

.isotope .isotope-item {
    -webkit-transition-property: -webkit-transform, opacity;
    -moz-transition-property:    -moz-transform, opacity;
    -ms-transition-property:     -ms-transform, opacity;
    -o-transition-property:      -o-transform, opacity;
    transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
    -webkit-transition-duration: 0s;
    -moz-transition-duration: 0s;
    -ms-transition-duration: 0s;
    -o-transition-duration: 0s;
    transition-duration: 0s;
}

/* End: Recommended Isotope styles */



/* disable CSS transitions for containers with infinite scrolling*/
.isotope.infinite-scrolling {
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none;
}


.grid-item {
    width: 259px;
    padding-right: 18px;
}

.grid-item .heading {
    width: 230px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.grid-item .body {
    width: 230px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.grid-item .thumbnail {
    padding:0px !important;
}

.grid-item .thumbnail .fitImage {
    width:100%;
}







.list-item {
    width: 100%;
}

.list-item .heading {
    width: 95%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.list-item .body {
    width: 90%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.list-item .thumbnail {
    /*padding:0px !important;*/
}

.list-item .thumbnail .fitImage {
    /*width:100%;*/
}

ribbon{
    clear:both;
    position:absolute;
    color:#fff;
    background:#149bdf;
    text-shadow:0 -1px #149bdf, 0 1px #149bdf;
    font-size:1.1em;
    float:left;
    padding:4px 10px 4px 10px;
    margin-left:-10px;
    margin-top:4px;
    margin-bottom:20px;

    -moz-box-shadow:2px 2px 0 rgba(0,0,0,0.1);
    -webkit-box-shadow:2px 2px 0 rgba(0,0,0,0.1);
    -o-box-shadow:2px 2px 0 rgba(0,0,0,0.1);
    box-shadow:2px 2px 0 rgba(0,0,0,0.1);
    z-index: 1;
}

ribbon:before{
    content:" ";
    background:url(/images/priceRibbon/ribbon.png);
    display:block;
    width:10px;
    height:10px;
    position:absolute;
    bottom:0;
    left:0;
    margin-bottom:-10px;
    z-index:-1;
}

.thumbnail {
    -moz-column-break-inside: avoid;
    -webkit-column-break-inside: avoid;
    column-break-inside: avoid;
    margin: 0 0px 15px;
    border: 0px solid #FAFAFA;
    -webkit-box-shadow: rgba(0,0,0,0.3) 0 1px 4px;
    -moz-box-shadow: rgba(0,0,0,0.3) 0 1px 4px;
    box-shadow: rgba(0,0,0,0.3) 0 1px 4px;
}


.star {
    position: absolute;
    right: 20px;
    top: 5px;
}

.starHighlighted {
    position: absolute;
    color: red;
    right: 20px;
    top: 5px;
}




.infiniteScrollContainer {
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    height:100%;
    right:7px;
    padding-top:63px;
}



.gradient {
    position: fixed;
    z-index: 3;
    right: 0;
    top: 103px;
    left: 0;
    height: 50px;
    background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
}​

/*Remove blue glow from around bootstrap 3 buttons.*/
.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: none; ! important; outline-style: none;
}

.btn:focus {
    outline: none; ! important; outline-style: none;
}