@import 'https://fonts.googleapis.com/css?family=Reenie+Beanie';


#wrapper {
    /* min-height: 100%; */
    height: 100%;
    width: 100%;
    position: absolute;
    /* display: inline-block; */
}

.navGrey {
    color: #777777;
}

.navGrey:hover {
    color: black;
}


#main {
    /* position: relative; */
    height: 100%;
    overflow-y: auto;
    /* padding: 0 15px; */
    overflow-x: hidden;
    margin: 0 auto -30px;
    -webkit-overflow-scrolling: touch;
}

#loader {
    background-color: white;
    opacity: 0.87;
    height:30px;
    position:relative;
    z-index:5;
    display:none;
}


body {
    padding-top: 0px;
    margin: 0;
    font-family: "Open Sans",Helvetica,Arial,sans-serif;
    height: 100%;
    margin: 0;
    background: #f4f4f4; /* Old browsers */
    overflow-x: hidden;
}

#map-canvas {
    width: 100%;
    height: 100%;
}


/*.nounderline {*/
/*text-decoration: none !important*/
/*}*/



.mapInfoBoxPriceAndCategory {
    color: #777777;
    font-size: 1.6em;
    text-shadow: 0 1px 0 #ffffff;
    text-decoration: none !important;
    float:left;
    margin-top:15px;
    margin-right:40px;
}

.mapInfoBoxHeading {
    color: #777777;
    font-size: 1.2em;
    text-shadow: 0 1px 0 #ffffff;
    text-decoration: none !important;
    float:left;
    margin-top:5px;
}

/*.noscroll {*/
/*overflow:hidden */
/*}*/

.centered {
    text-align:center;
}

/*.vertical-centered {*/
/*vertical-align: middle;*/
/*}*/

.icons {
    font-size:40px;
    color:#777777;
    padding:10px;
    text-shadow:0 -1px 0px rgba(1,1,1,0.4);
}

/*.fadeEditIcon{*/
/*color: rgb(132, 168, 150);*/
/*}*/

@media (max-width: 979px) {
    body {
        padding-top: 0px;
    }
}

#header {
    width: 100%;
    position: absolute;
    bottom: 0;
}

#header-wrap {
    width: 100%;
    position: fixed;
    z-index: 6;
}

.animate {

    -webkit-transition: all 0.33s ease;
    -moz-transition: all 0.33s ease;
    -o-transition: all 0.33s ease;
    -ms-transition: all 0.33s ease;
    transition: all 0.33s ease;
}

.animate.move {
    top: 0px;   /*or bottom, top, right*/
    margin-top: -64px; /*or bottom, top, right */
}


.subnav-custom {
    position:fixed;
    right:0;
    left:0;
    z-index:5;
    margin-bottom: 0;
    /* margin-top:63px; */
}

.primarynav-custom {
    position:fixed;
    margin-bottom: 0;
    right:0;
    left:0;
    z-index: 6;
}


figure {
    display: inline-block;
    position: relative;
    float: right;
    overflow: hidden;
    margin: 0px 0px 0px 0px;
    cursor: pointer;
}

ribbon{
    clear:both;
    position:absolute;
    color:#fff;
    background:#149bdf;
    text-shadow:0 -1px #149bdf, 0 1px #149bdf;
    font-size:1.1em;
    float:left;
    padding:4px 10px 4px 10px;
    margin-left:-10px;
    margin-top:4px;
    margin-bottom:20px;

    -moz-box-shadow:2px 2px 0 rgba(0,0,0,0.1);
    -webkit-box-shadow:2px 2px 0 rgba(0,0,0,0.1);
    -o-box-shadow:2px 2px 0 rgba(0,0,0,0.1);
    box-shadow:2px 2px 0 rgba(0,0,0,0.1);
    z-index: 1;
}

ribbon:before{
    content:" ";
    background:url(/priceRibbon/ribbon.png);
    display:block;
    width:10px;
    height:10px;
    position:absolute;
    bottom:0;
    left:0;
    margin-bottom:-10px;
    z-index:-1;
}

figcaption {
    position: absolute;
    color: white;
    padding: 7px;
    opacity: 0;
    -webkit-transition: all 0.22s ease;
    -moz-transition:    all 0.22s ease;
    -o-transition:      all 0.22s ease;
}

figure:hover figcaption {
    z-index:1;
    opacity: 1;
}

.star-favorited {
    color: yellow;
}

.cap-left:before {  bottom: 10px; left: 10px; }
.cap-left figcaption { bottom: 0; left: -30%; }
.cap-left:hover figcaption { left: 0; }

.cap-right:before { bottom: 10px; right: 10px; }
.cap-right figcaption { bottom: 0; right: -30%; }
.cap-right:hover figcaption { right: 0; }

.cap-top:before { top: 10px; left: 10px; }
.cap-top figcaption { left: 205px; top: -30%; }
.cap-top:hover figcaption { top: 0; }

.cap-bot:before { bottom: 10px; left: 10px; }
.cap-bot figcaption { left: 0; bottom: -30%;}
.cap-bot:hover figcaption { bottom: 0; }

.postit {
    text-align:center;
    width: 192px;
    margin: 17px 30px 12px 30px;
    min-height:114px;
    max-height:175px;
    padding-top:20px;
    position:relative;
    border:1px solid #E8E8E8;
    border-top:0px solid #fdfd86;
    font-family:'Reenie Beanie';
    font-size:1.8em;
    color:#4B4B4B;
    border-bottom-right-radius: 60px 5px;
    display:inline-block;
    background: rgb(255,255,136); /* Old browsers */
    background: -moz-linear-gradient(-45deg, rgba(255,255,136,1) 77%, rgba(255,255,214,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(77%,rgba(255,255,136,1)), color-stop(100%,rgba(255,255,214,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-45deg, rgba(255,255,136,1) 77%,rgba(255,255,214,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-45deg, rgba(255,255,136,1) 77%,rgba(255,255,214,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(-45deg, rgba(255,255,136,1) 77%,rgba(255,255,214,1) 100%); /* IE10+ */
    background: linear-gradient(-45deg, rgba(255,255,136,1) 77%,rgba(255,255,214,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffff88', endColorstr='#ffff88',GradientType=0 ); /* IE6-9 fallback on horizontal gradient */
}

.postit:after {
    content: "";
    position:absolute;
    z-index:-1;
    right:-0px; bottom:20px;
    width:178px;
    height: 25px;
    background: rgba(0, 0, 0, 0.2);
    box-shadow:2px 15px 5px rgba(0, 0, 0, 0.40);
    -moz-transform: matrix(-1, -0.1, 0, 1, 0, 0);
    -webkit-transform: matrix(-1, -0.1, 0, 1, 0, 0);
    -o-transform: matrix(-1, -0.1, 0, 1, 0, 0);
    -ms-transform: matrix(-1, -0.1, 0, 1, 0, 0);
    transform: matrix(-1, -0.1, 0, 1, 0, 0);
}

.postitdistance{
    margin-right:6px;
    position:absolute;
    bottom:0;
    right:0;
    font-size: small
}

@media screen and (max-width: 100em) {
    .js .oc {
        width: auto;
        position: absolute;
        top: 0;
        left: -15em;
    }
}

.pin {
    -moz-column-break-inside: avoid;
    -webkit-column-break-inside: avoid;
    column-break-inside: avoid;
    display: inline-block;
    margin: 0 0px 15px;
    padding: 0px;
    /* font-family:'Source Sans Pro', sans-serif;    */
    border: 0px solid #FAFAFA;
    -webkit-box-shadow: rgba(0,0,0,0.3) 0 1px 4px;
    -moz-box-shadow: rgba(0,0,0,0.3) 0 1px 4px;
    box-shadow: rgba(0,0,0,0.3) 0 1px 4px;
    /* box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);  */
    background: #fff;
    /* background-image: linear-gradient(45deg, #FFF, #F9F9F9);  */
}

/* Isotope CSS TRANSITONS */
.items {
    width: 253px;
    margin: 10px;
    float: left;
}

.isotope,
.isotope .isotope-item {
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    -ms-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    transition-duration: 0.2s;
}

.isotope {
    -webkit-transition-property: height, width;
    -moz-transition-property: height, width;
    -ms-transition-property: height, width;
    -o-transition-property: height, width;
    transition-property: height, width;
}

.isotope .isotope-item {
    -webkit-transition-property: -webkit-transform, opacity;
    -moz-transition-property:    -moz-transform, opacity;
    -ms-transition-property:     -ms-transform, opacity;
    -o-transition-property:      -o-transform, opacity;
    transition-property:         transform, opacity;
}


.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item .no-transition {
    -webkit-transition-duration: 0s;
    -moz-transition-duration: 0s;
    -ms-transition-duration: 0s;
    -o-transition-duration: 0s;
    transition-duration: 0s;
}


/**** Isotope filtering ... These styles ensure that hidden items will not interfere with interactions****/
.isotope-item {
    z-index: 2;
}

.isotope-hidden.isotope-item {
    pointer-events: none;
    z-index: 1;
}

.sidemapcollapse {
    width: 52%;
    height: 100%;
    right:-450px;
    visibility:hidden;
    float:right;
    position:fixed;
    z-index: 4;
}

.sidemapexpand {
    width: 52%;
    height: 100%;
    right:0px;
    visibility:visible;
    float:right;
    position: fixed;
    z-index: 4;
}


.sidemapfullscreen {
    width: 92%;
    height: 100%;
    right:0px;
    visibility:visible;
    float:right;
    position: fixed;
    z-index: 4;
}

.doubleExpandGraphicMap {
    width: 25px;
    height: 100%;
    margin-left:-25px;
    background: #f1f1f1;
    border: 1px solid #d4d4d4;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
    position:absolute;
    z-index: 6;
    cursor:pointer;
}



.expandMapIcon {
    font-size: 1.4em;
    color: #777777;
    margin: auto;
    position: absolute;
    top: 50%; left: 4px; bottom: 0; right: 0;
}


.faves-collapsed {
    background: #f4f4f4;
    width: 54%;
    height: 100%;
    right: -450px;
    visibility:hidden;
    float:right;
    position:fixed;
    border-left: 1px solid #dddddd;
    z-index: 3;
}

.faves-expanded {
    background: #f4f4f4;
    width: 54%%;
    height: 100%;
    right:0px;
    visibility:visible;
    float:right;
    border-left: 1px solid #dddddd;
    overflow-y: scroll;
    position: fixed;
    z-index: 3;
}



.delete-label {
    visibility: hidden;
}

li.label-list:hover span.delete-label{
    visibility: visible;
}

.hashtag-faves-label {
    float: left;
    margin-right:10px;

}

.hashtag-faves-label td{
    padding: 0px 3px 0px 3px;
    border: 1px solid indianred;
    background-color: indianred !important;
    color: white;
}


.custom-table-header {
    position: fixed;
    width: 54%;
    background-color: #f4f4f4;
    border-bottom: 1px solid #dddddd;
    opacity:.96;
    z-index: 1;
    margin-bottom: 0px;
}


.table-big-nudge {
    margin-top:83px;
    position: absolute;
    margin-bottom: 0px;
}

.table-nudge {
    margin-top:47px;
    position: absolute;
    margin-bottom: 0px;
}

.ng-table-pager {
    display: none;
}

.fave-batch-button {
    cursor: pointer;
}


.labels-input {
    margin: 0px 15px 0px 15px;
}




/* Fancy box next/prev buttons will always be visible */
.fancybox-nav span {
    visibility: visible;
}

.fancybox-nav {
    width:50px;
}


/* Change the hit area of the next/prev buttons */
.fancybox-prev {
    left: -75px; /* Change to -50px */
}

.fancybox-next {
    right: -75px; /* Change to -50px */
}

.fancybox-custom-next{
    top: 40%;
    width: 0;
    height: 0;
    border-top: 90px solid transparent;
    border-bottom: 90px solid transparent;
    border-left: 60px solid white;
}

.fancybox-custom-prev{
    top: 40%;
    width: 0;
    height: 0;
    border-top: 90px solid transparent;
    border-bottom: 90px solid transparent;
    border-right: 60px solid white;
}


/*.below-subnav {*/
    /*margin-top: 0px;*/
/*}*/

.resultsContainerStylingExpand {
    width:100%;
}

.resultsContainerStylingCollapse {
    width:60%;
}

#results {
    margin: 0 auto;
}


#loadingBox {
    background: #333;
    opacity: 0.8;
    color: #fff;
    width: 268px;
    height: 150px;
    left: 50%;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -moz-box-shadow:0px 0px 7px #000000;
    -webkit-box-shadow:0px 0px 7px #000000;
    box-shadow:0px 0px 7px #000000;
    z-index: 1000;
    position: fixed;
    left:50%;
    margin-left:-134px;
    top: 50%;
}

/* Hack to resolve bootstrap + Google Maps bug: https://github.com/twitter/bootstrap/issues/1552 */
#map-canvas img {
    max-width: none;
}

div.cj_image_flipbox {
    display: block;
    width: 253px;
    height: auto;
}

div.cj_image_flipbox_block {
    position: relative;
    display: block;
    overflow: hidden;
    float: left;
}

div.cj_image_flipbox_block br {
    display: none;
}








/*.btn.btn-navbar{*/
    /*margin-top: 10px;*/
/*}*/




/*@media screen and (min-width: 1083px) {*/
    /*#tour-pin-ab{*/
        /*width: 530px;*/
    /*}*/
/*}*/

/*@media screen and (max-width: 1082px) {*/
    /*#tour-pin-ab{*/
        /*width: 270px;*/
    /*}*/
/*}*/

@media screen and (max-width: 629px) {
    #tour-pin-ab{
        width: 100%;
    }
    .custom-table-header{
        width: 100%;
    }
    .faves-collapsed {
        width: 100%;
    }
    .faves-expanded {
        width: 100%;
    }
}


@media screen and (max-width: 1023px){
    .navbar .btn-navbar {
        display: block;
    }
}
@media screen and (min-width: 1023px){
    .navbar .btn-navbar {
        display: none;
    }
}


@media screen and (max-width: 900px) {
    #mapNav{
        display: none;
    }
}
@media screen and (min-width: 900px) {
    #mapNavCollapsed{
        display: none;
    }
}





@media screen and (max-width: 1019px) {
    #favesNav{
        display: none;
    }
}
@media screen and (min-width: 1019px) {
    #favesNavCollapsed{
        display: none;
    }
}





@media screen and (max-width: 710px) {
    #photosNav{
        display: none;
    }
}
@media screen and (min-width: 710px) {
    #photosNavCollapsed{
        display: none;
    }
}






@media screen and (max-width: 536px) {
    #freeNav{
        display: none;
    }
}
@media screen and (min-width: 536px) {
    #freeNavCollapsed{
        display: none;
    }
}




@media screen and (max-width: 320px) {
    #priceNav{
        display: none;
    }
}
@media screen and (max-width: 320px) {
    #priceNavCollapsed{
        display: none;
    }
}





@media screen and (min-width: 1083px) {
    #SLR{
        margin-right: 100px;
    }
}

@media screen and (max-width: 1082px) {
    #SLR{
        margin-right: 0px;
    }
}

@media screen and (max-width: 320px) {
    #logo{
        display:none;
    }
}

@media screen and (max-width: 564px) {
    #SLR{
        display:none;
    }
}