.delete-label {
    visibility: hidden;
}

li.label-list:hover span.delete-label{
    visibility: visible;
}

.ng-table-pager {
    display: none;
}

.fave-batch-button {
    cursor: pointer;
}

.interested-well {
    min-height: 20px;
    padding: 0px 0px 45px 0px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    margin: 0px 15px 0px 0px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
}



.inner-container-interested {
    max-height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
}

.outer-container-interested {
    position: absolute;
    overflow-y: hidden;
    overflow-x: hidden;
    top: 77px;
    bottom: 20px;
    left: 0;
    right: 0;
}

@media screen and (max-width: 992px) {

    .outer-container-interested{
        left: 15px;
    }

}