<div ui-view>
    <div ng-if="!mail.offers.received.data.length" class="background-instructions">
        <div class="inset-text">
            Your buyers offers will appear here.
        </div>
    </div>

    <table class="table table-striped table-hover" ng-if="mail.offers.received.data.length">
        <tbody>
        <tr ng-repeat="offer in mail.offers.received.data" ng-click="quickCache(offer)" ui-sref="mailbox.inbox.offers.offer({postingId: offer.postingId, offerId: offer.offerId})" style="cursor: pointer">
            <!--<td ng-class="{'active':checkIfUnread(message)}"><b>From:</b> {{message.username}}</td>-->
            <td><b>From:</b> @{{offer.username}}</td>

            <td>
                <div ng-show="!offer.read && offer.proposedTimes.length === 1">Proposed a time they can pickup your item.</div>
                <div ng-show="!offer.read && offer.proposedTimes.length > 1">Proposed {{offer.proposedTimes.length}} times they can pickup your item.</div>
                <div ng-show="offer.read" ng-repeat="proposedTime in offer.proposedTimes">
                    <div ng-show="proposedTime.acceptedAt">
                        You're scheduled to meet on {{proposedTime.acceptedAt | date : 'EEE, MMM d h:mm a'}}.
                    </div>
                </div>
            </td>

            <td>
                <button class="btn btn-danger" ng-show="!offer.read">Reply</button>
                <button class="btn btn-primary" ng-show="offer.read">Change Acceptance</button>
            </td>

        </tr>
        </tbody>
    </table>
</div>