<!DOCTYPE html>
<html ng-app="htsApp">

<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"><![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>HashtagSell &middot; Rethinking Online Classifieds</title>

    <!-- Styles -->
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/splash.css">
    <link rel="stylesheet" href="/seiyria-bootstrap-slider/dist/css/bootstrap-slider.min.css">
    <link rel="stylesheet" href="/ng-table/ng-table.min.css">
    <link rel="stylesheet" href="/fontawesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/angular-carousel/dist/angular-carousel.min.css">

</head>

<body class="ng-cloak">
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="navbar-inner">
            <div class="container-fluid">
                <nav class="row">
                    <ul class="nav navbar-nav row">
                        <li class="col-lg-1 col-md-2 col-sm-1 hidden-xs">
                            <img src="/images/logo/HashtagSell_Logo_80px.svg" class="logo" ui-sref="feed">
                        </li>
                        <li class="col-lg-4 col-lg-offset-3 col-md-6 col-md-offset-1 col-sm-6 col-sm-offset-1 col-xs-5 col-xs-offset-1">
                            <form role="search" ng-controller="awesomeBarController" ng-submit="awesomeBarSubmit()" class="logo">
                                <div class="input-group">
                                    <input type="text" class="form-control" ng-model="query">
                                        <span class="input-group-btn">
                                            <button type="submit" class="btn btn-danger" type="button">
                                                <span class="glyphicon glyphicon-search"></span>
                                            </button>
                                        </span>
                                    </input>
                                </div><!-- /input-group -->
                            </form>
                        </li>
                        <li class="col-lg-1 col-lg-offset-2 col-md-2 col-sm-3 col-xs-4 logo" ng-controller="newPostController">
                            <!--<a ng-click="newPost()">#Sell It</a>-->
                            <button type="button" class="btn btn-danger" ng-click="newPost()">#Sell it!</button>
                        </li>
                        <li class="dropdown col-lg-1 col-md-1 col-sm-1 col-xs-1" on-toggle="toggled(open)" ng-controller="userMenu">
                            <a href class="dropdown-toggle">
                                <img class='img-circle' ng-src={{userObj.user_settings.profile_photo}} width="30px;"/>
                            </a>
                            <ul class="dropdown-menu" ng-if="!userObj.user_settings.loggedIn" ng-cloak>
                                <li><a href ng-click="signIn()">Sign In</a></li>
                                <li><a href ng-click="signUp()">New Account</a></li>
                            </ul>
                            <ul class="dropdown-menu" ng-if="userObj.user_settings.loggedIn" ng-cloak>
                                <li><a ui-sref="settings.general">User Settings</a></li>
                                <li class="divider"></li>
                                <li><a href="#" ng-click="logout()">Logout</a></li>
                            </ul>
                        </li>
                    <ul>
                </nav>
            </div><!-- /.container-fluid -->
        </div>
    </nav>

    <div class="container-fluid">
        <div class="row">

            <div class="col-lg-2 col-md-3 col-sm-3 hidden-xs bs-profile-nav">
                <div ng-controller="sideProfile" class="profile">
                    <a ui-sref="profile" class="profileCircle">
                        <img class='img-circle' ng-src={{userObj.user_settings.profile_photo}} width="70px;"/>
                        <span ng-show="userObj.user_settings.name"> @{{userObj.user_settings.name}}</span>
                    </a>
                </div>
                <div ng-controller="newPostController" class="sellButton">
                    <button type="submit" class="btn btn-danger btn-sm custom-button btn-block" ng-click="newPost()">#Sell it!</button>
                </div>

                <!--SideNav-->
                <div class="list-group bs-side-nav" ng-controller="sideNav.controller">
                    <a ng-repeat="item in sideNav.items" ui-sref="{{::item.link}}" ng-click="$parent.selected = item" class="list-group-item" ng-class="{active:selected==item}">
                        {{item.name}}
                        <span class="badge">{{item.alerts}}</span>
                    </a>
                </div>
            </div>

            <div ui-view class="col-lg-10 col-lg-offset-2 col-md-9 col-md-offset-3 col-sm-9 col-sm-offset-3 col-xs-12"></div>
        </div>
    </div>

    <!--IMPORT LIBRARIES-->
    <script type="text/javascript" src='/jquery/dist/jquery.min.js'></script>
    <script type="text/javascript" src="/angular/angular.min.js"></script>
    <script type="text/javascript" src="/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script type="text/javascript" src="/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script type="text/javascript" src='/ment.io/dist/mentio.js'></script>
    <script type="text/javascript" src='/ng-table/ng-table.min.js'></script>
    <script type="text/javascript" src='/isotope/jquery.isotope.js'></script>
    <script type="text/javascript" src='/underscore/underscore-min.js'></script>
    <script type="text/javascript" src='/angular-isotope/dist/angular-isotope.js'></script>
    <script type="text/javascript" src='/angular-touch/angular-touch.min.js'></script>
    <script type="text/javascript" src="/angular-carousel/dist/angular-carousel.min.js"></script>
    <script type="text/javascript" src="//maps.googleapis.com/maps/api/js?libraries=places&sensor=false"></script>
    <script type="text/javascript" src='/dropzone/downloads/dropzone.min.js'></script>
    <script type="text/javascript" src="/jshashtable-3.0/hashtable.js"></script>
    <script type="text/javascript" src="/seiyria-bootstrap-slider/dist/bootstrap-slider.min.js"></script>
    <script type="text/javascript" src="/angular-bootstrap-slider/slider.js"></script>
    <script type='text/javascript' src='/nginfiniteScroll/build/ng-infinite-scroll.min.js'></script>
    <script type='text/javascript' src='/imagesloaded/imagesloaded.pkgd.min.js'></script>
    <script type='text/javascript' src='/angular-images-loaded/angular-images-loaded.js'></script>
    <script type='text/javascript' src='/lodash/dist/lodash.min.js'></script>
    <script type="text/javascript" src="/angular-google-maps/dist/angular-google-maps.min.js"></script>

    <!--ANGULAR-->
    <script type="text/javascript" src="htsApp.js"></script>
    <script type="text/javascript" src="/js/userMenu/controllers/userMenu.controller.userMenu.js"></script>
    <script type="text/javascript" src="/js/newPost/controllers/newPost.controller.js"></script>
    <script type="text/javascript" src="/js/authentication/factories/authFactory.js"></script>
    <script type="text/javascript" src="/js/session/services/session.js"></script>
    <script type="text/javascript" src="/js/authModals/factories/authModal.factory.js"></script>
    <script type="text/javascript" src="/js/authModals/modals/signInModal/controllers/signIn.js"></script>
    <script type="text/javascript" src="/js/authModals/modals/signUpModal/controllers/signUp.js"></script>
    <script type="text/javascript" src="/js/authModals/modals/forgotPasswordModal/controllers/forgotPassword.js"></script>
    <script type="text/javascript" src="/js/authModals/modals/checkEmailModal/controllers/checkEmailCtrl.js"></script>
    <script type="text/javascript" src="/js/authModals/modals/updatePasswordModal/controllers/updatePassword.js"></script>
    <script type="text/javascript" src="/js/awesomeBar/controllers/awesomeBar.js"></script>
    <script type="text/javascript" src="/js/awesomeBar/services/geolocationService.js"></script>
    <script type="text/javascript" src="/js/sideNav/controllers/sideNav.controller.js"></script>
    <script type="text/javascript" src="/js/sideNav/factories/sideNav.factory.js"></script>
    <script type="text/javascript" src="/js/sideProfile/controllers/sideProfile.controller.js"></script>
    <script type="text/javascript" src="/js/filterBar/controllers/filterBar.js"></script>
    <script type="text/javascript" src="/js/results/controllers/results.controller.js"></script>
    <script type="text/javascript" src="/js/results/factories/results.factories.search.js"></script>
    <script type="text/javascript" src="/js/interested/controllers/interestedController.js"></script>
    <script type="text/javascript" src="/js/interested/factories/interested.factory.js"></script>
    <script type="text/javascript" src="/js/interested/directives/interested.htsfavetoggle.js"></script>
    <script type="text/javascript" src="/js/splash/controllers/splash.controller.js"></script>
    <script type="text/javascript" src="/js/splash/factories/splash.factory.js"></script>
    <script type="text/javascript" src="/js/settings/general/controllers/settings.general.controller.js"></script>
    <script type="text/javascript" src="/js/settings/profile/controllers/settings.profile.controller.js"></script>
    <script type="text/javascript" src="/js/settings/payment/controllers/settings.payment.controller.js"></script>
    <script type="text/javascript" src="/js/selling/controllers/selling.controller.listSoldItems.js"></script>
    <script type="text/javascript" src="/js/selling/factories/selling.factories.listSoldItems.js"></script>

    <!--ONLY LOADED IN PRODUCTION-->
    <!--<script type="text/javascript" src="/dist/HashtagSell.min.js"></script>-->

</body>
</html>