<div ng-if="!loggedIn.value" class="subscription-border span6 offset3" style="margin-bottom:70px; margin-top:20px" ng-cloak>
    <div ng-if="!loggedIn.value && !subscriptionResponse" class="centered" ng-cloak>
        <form class="form-subscribe" ng-submit="subscribeEmail()">
            I, <input type="text" ng-model="$parent.$parent.subscriberName" placeholder="(your name)" class="contract-input" required\>, would love a beta invite!
            Please send me an invite @ <input type="email" ng-model="$parent.$parent.subscriberEmail" placeholder = "(your email)" class="contract-input" required\> when it's ready.
            <br>
            <br>
            <button type="submit" class="btn btn-danger input-custom-btn-tall">Ok, we will!</button>
        </form>
    </div>
    <div ng-if="!loggedIn.value && subscriptionResponse" class="centered" ng-cloak>
        <div style="margin-bottom:100px;" class="form-subscribe-response">
            {{subscriptionResponse}}
        </div>
    </div>
</div>
<div ng-if="loggedIn.value && userLocationObject.geoLocationSuccess && !userLocationObject.manualCitySearch.request || loggedIn.value && loading" class="centered" ng-cloak>

    <div id="awesomeBar" class="awesomeBar" style="margin-bottom:100px;">

        <form id="awesomeSearch" action="/results" method="get" class="form-search">
            <div class="control-group input-append">
                <div class="controls">
                    <input id="tour-pin-ab" placeholder="{{placeholder.message}}" type="text" class="search-query input-xxlarge" id="searchTerm" name="q" minlength="2" required/>

                    <input type="hidden" name="city" value="{{userLocationObject.cityCommaState}}" required/>

                    <input type="hidden" name="lat" value="{{userLocationObject.lat}}" required/>

                    <input type="hidden" name="lon" value="{{userLocationObject.lon}}" required/>

                    <button type="submit" id="searchButton" class="btn btn-danger"><i class="fa fa-search"></i></button>
                    <p class="help-block hidden"></p>
                </div>
            </div>
            <br>
            <p ng-if="!loading">
                <small>
                    <a href="" ng-click="toggleAwesomeBar()">Want to search outside {{userLocationObject.cityCommaState}}?</a>
                </small>
            </p>
        </form>
    </div>
</div>
<div ng-if="loggedIn.value && !userLocationObject.geoLocationSuccess && !loading || userLocationObject.manualCitySearch.request && !loading" class="centered" ng-cloak>

    <div id="awesomeBar" class="awesomeBar" style="margin-bottom:100px;">

        <form id="manualCityForm" class="form-vertical form-search">
            <div class="control-group">
                <div class="controls">
                    <input type="text" id="searchTerm" placeholder="I Am Looking For..." name="q" ng-model="userLocationObject.manualCitySearch.query" value="{{userLocationObject.manualCitySearch.query}}" class="input search-query" minlength="2" required />&nbsp;&nbsp;

                    <div class="input-append">
                        <input type="text" placeholder="My City Is..." class="input search-query" name="city" ng-model="city" value="{{userLocationObject.manualCitySearch.cityCommaState}}"  googleplace required/>&nbsp;

                        <button id="searchButton" class="btn btn-danger"><i class="fa fa-search"></i></button>
                    </div>

                    <input name="lat" type="hidden" value="{{userLocationObject.manualCitySearch.lat}}" required/>

                    <input name="lon" type="hidden" value="{{userLocationObject.manualCitySearch.lon}}" required/>

                </div>
                <p ng-if="userLocationObject.geoLocationSuccess">
                    <small>
                        <a href="" ng-click="toggleAwesomeBar()" >Search within your local area?</a>
                    </small>
                </p>
            </div>
        </form>
    </div>
</div>