<div ng-repeat="offer in post.offers.results">



    <!--Meeting Requests Awaiting Response-->
    <div style="border: 1px solid; border-color: #e5e6e9 #dfe0e4 #d0d1d5; margin-bottom: 20px; padding: 0px;" class="col-md-10 col-xs-12" ng-if="userObj.user_settings.name === offer.username" ng-class="{ 'proposal-sent': !offer.proposals[cachedOffers[$index].proposals.length - 1].isOwnerReply, 'proposal-accepted': offer.proposals[cachedOffers[$index].proposals.length - 1].acceptedAt }">
        <div style="background-color: #ffffff; padding: 10px;">
            <div>
                <img ng-src="{{offer.userProfile.profile_photo}}" height="40" style="position: relative; top: -12px;">
                <div style="display: inline-block">
                    <div>
                        @{{offer.username}}
                    </div>
                    <div>
                        Sent {{offer.modifiedAt | date:"MMMM d 'at' h:mma"}}
                    </div>
                </div>
                <div>
                    <div class="dropdown" dropdown on-toggle="toggled(open)" style="position: absolute; top: 10px; right: 15px;">
                        <a href class="dropdown-toggle" dropdown-toggle><i class="fa fa-chevron-down"></i></a>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li>
                                <a href ng-click="cancelOffer(offer, post)">Cancel my offer</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="form-group">
                    <div>
                        <span ng-show="offer.proposals[offer.proposals.length - 1].comment"><i>"{{offer.proposals[offer.proposals.length - 1].comment}}"</i></span>
                    </div>

                    <br>

                    <div class="controls">
                        <div class="input-group input-group-lg">
                            <span class="input-group-addon">$</span>
                            <input class="form-control" type="text" id="price" name="price" ng-model="offer.proposals[offer.proposals.length - 1].price.value" ng-disabled="true"/>
                        </div>
                    </div>

                    <br>

                    <div class="controls">
                        <div class="input-group input-group-lg">
                            <span class="input-group-addon">@</span>
                            <input class="form-control" type="text" id="location" name="location" ng-model="offer.proposals[offer.proposals.length - 1].where" ng-disabled="true"/>
                        </div>
                    </div>

                    <br>

                    <div class="btn-group" role="group">
                        <label class="btn btn-default btn-lg" disabled="true"><i class="fa fa-clock-o"></i></label>
                        <label class="btn btn-default btn-lg" ng-repeat="proposedTime in offer.proposals[offer.proposals.length - 1].when" btn-radio="proposedTime" ng-model="acceptedTime.model" ng-change="errors.message = null">{{proposedTime | date:'MMM d, h:mm a'}}</label>
                    </div>

                    <div ng-show="errors.message">
                        <span class="text-danger">{{errors.message}}</span>
                    </div>

                </div>
            </div>
        </div>
        <div class="read-meeting">

            <div style="display: inline-block; position: relative;">
                <button class="btn btn-primary" ng-click="counterOffer($index, offer.proposals[offer.proposals.length - 1])">Send Counter Offer</button>
            </div>

            <div style="display: inline-block; position: relative;">
                <button class="btn btn-success" ng-click="acceptDeal($index, offer.proposals[offer.proposals.length - 1])">Accept Offer</button>
            </div>

        </div>
    </div>

</div>
<div class="col-xs-12">
    <span ng-show="!post.offers.results.length">Keep track of how many users requested to view the {{post.heading}}</span>
    <span ng-show="post.offers.results.length && userObj.user_settings.name !== post.offers.results[0].username"><i class="fa fa-exclamation-circle"></i> {{post.offers.results.length}} other users have placed an offer on this item.</span>
</div>