<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>HashtagSell Place an Offer</title>
</head>
<body>

    <form class="form-horizontal">
        <div class="modal-header">
            <h3 id="myModalLabel">Submit your offer</h3>
        </div>
        <div class="modal-body">
            The price on this item is firm.
            <br>
            <br>
            Seller request you meet
            <span class="mention-highlighter">@{{result.external.threeTaps.location.formatted}}</span>
            <br>
            <br>
            <ul>
                <li ng-repeat="proposedTime in offer.proposedTimes track by $index">
                    {{proposedTime.when | date:'MMM d, y h:mm a'}}
                    <i class="fa fa-trash-o" ng-click="removeProposedTime($index)" style="cursor: pointer; color: red"></i>
                </li>
            </ul>
            <div class="dropdown row" dropdown is-open="dropDownStatus.isOpen">
                <a href class="dropdown-toggle col-xs-8" dropdown-toggle>
                    <div class="input-group">
                        <input type="text" class="form-control" data-ng-model="data.dateDropDownInput" placeholder="Propose dates/times to meet">
                        <span class="input-group-addon">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </span>
                    </div>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <datetimepicker data-ng-model="data.dateDropDownInput" data-datetimepicker-config="{ minuteStep: 15 }" data-on-set-time="onTimeSet(newDate, oldDate)"/>
                    </li>
                </ul>
            </div>
        </div>

        <div class="modal-footer">
            <span ng-show="!userObj.user_settings.loggedIn" class="pull-left">
                <small><a ng-click="dismiss('signUp')" style="cursor: pointer;">Create your free HashtagSell account.</a></small>
            </span>
            {{allowSubmission}}
            <button class="btn btn-default btn-primary" ng-click="sendOffer()" ng-disabled="disableSubmission">Im Offering {{result.askingPrice.value | currency : $ : 0}}</button>
        </div>
    </form>

</body>
</html>