<div class="background-instructions">
    <div class="inset-background-text">
        Coming soon!  We'll notify you when items you're looking for appear online. :)
    </div>
</div>



<!--<div class="outer-container">-->
    <!--<div class="inner-container" vs-repeat vs-offset-before="200" vs-excess="100">-->

        <!--<div class="well notification-item" ng-repeat="item in items.collection">-->
            <!--<div class="col-lg-12">-->
                <!--<span>{{$index}} - {{item.text}}</span>-->
            <!--</div>-->
        <!--</div>-->

    <!--</div>-->
<!--</div>-->