<div ui-view></div>

<div class="outer-container-myposts custom-myposts-well">

    <div ng-show="!userPosts.data.length" class="background-instructions">
        <div class="inset-background-text">
            :( Awww... You're not selling anything.  <span ng-click="newPost();" style="cursor: pointer; color: rgb(66, 139, 202);">Try it out?</span>
        </div>
    </div>


    <div ng-show="userPosts.data.length">
        <table class="table table-striped table-hover" ng-table="tableParams">
            <thead>
                <tr>
                    <th>
                        <!--<input type="text" ng-model="filters.$" placeholder="Search Favorites" style="width:98%; margin:0px;"/>-->
                    </th>
                    <th>
                        <input class="form-control" ng-model="filters.$" placeholder="Filter posts" />
                    </th>
                </tr>
            </thead>
        </table>

        <div class="inner-myposts-container">
            <div class="myposts-container">

                <table class="table table-striped table-hover" ng-show="userPosts.data.length" ng-table="tableParams">
                    <thead>

                    </thead>
                    <tbody>

                        <!--TODO: Open splash on click-->
                        <tr ng-repeat-start="post in $data" style="cursor: pointer" ng-click="openSplash(post)">

                            <td style="width:1px;">
                                <img ng-show="post.images.length" ng-src="{{post.images[0].thumbnail || post.images[0].full}}" style="height:70px; width: 70px;">
                                <div ng-show="!post.images.length" class="myPosts-noImage-Placeholder"></div>
                            </td>

                            <td>
                                <h4>
                                    {{::post.heading | cleanHeading}} - {{::post.askingPrice.value | currency : $ : 0}}
                                    <span ng-show="post.facebook" class="label label-primary" ng-click="showFacebookPost(post); $event.stopPropagation();" tooltip="Show Facebook post" tooltip-trigger="mouseenter" tooltip-placement="bottom" style="font-weight: inherit;">Facebook</span>
                                    <span ng-show="post.twitter" class="label label-info" ng-click="showTwitterPost(post); $event.stopPropagation();" tooltip="Show Twitter Post" tooltip-trigger="mouseenter" tooltip-placement="bottom" style="font-weight: inherit;">Twitter</span>
                                    <span ng-show="post.ebay" class="label label-warning" ng-click="showEbayPost(post); $event.stopPropagation();" tooltip="Show Ebay Post" tooltip-trigger="mouseenter" tooltip-placement="bottom" style="font-weight: inherit;">Ebay</span>
                                </h4>

                                <!--<div ng-bind-html="post.body"/>-->

                                <div style="float: left;">
                                    <button class="btn btn-default" type="button" ng-init="unreadQuestionsCount = countUnreadQuestions(post);" ng-click="expandCollapseQuestions($event, post)">
                                        <i class="fa" ng-class="post.currentlyViewing.questions ? 'fa-chevron-down' : 'fa-chevron-right'"></i> Questions <span ng-if="unreadQuestionsCount > 0" class="badge">{{unreadQuestionsCount}}</span>
                                    </button>

                                    <button class="btn btn-default" type="button" ng-init="unreadOffersCount = countUnreadOffers(post);" ng-click="expandCollapseMeetingRequests($event, post)">
                                        <i class="fa" ng-class="post.currentlyViewing.meetings ? 'fa-chevron-down' : 'fa-chevron-right'"></i> Meeting Requests <span ng-if="unreadOffersCount > 0" class="badge">{{unreadOffersCount}}</span>
                                    </button>
                                </div>

                                <div style="float: right;">
                                    <i class="fa fa-minus-circle fa-2x" ng-click="deletePost(post); $event.stopPropagation();" style="color:red; margin-right: 20px;" tooltip="Delete post" tooltip-trigger="mouseenter" tooltip-placement="left"></i>
                                    <i class="fa fa-pencil-square-o fa-2x" ng-click="editPost(post); $event.stopPropagation();" style="color:#494949; margin-right: 20px;" tooltip="Edit post" tooltip-trigger="mouseenter" tooltip-placement="left"></i>
                                </div>
                            </td>
                        </tr>

                        <tr ng-show="currentState === 'myposts.questions' && expandedPostingId === post.postingId" style="background-color: rgb(253, 253, 253);">
                            <td colspan="2" style="background-color: rgb(253, 253, 253);">
                                <owner-questions-more-info post="post"></owner-questions-more-info>
                            </td>
                        </tr>

                        <tr ng-repeat-end ng-show="currentState === 'myposts.meetings' && expandedPostingId === post.postingId" style="background-color: rgb(253, 253, 253);">
                            <td colspan="2" style="background-color: rgb(253, 253, 253);">
                                <owner-meetings-more-info post="post"></owner-meetings-more-info>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>