<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>HashtagSell Propose a deal</title>
</head>
<body>

    <form class="form-horizontal">
        <!--<div class="modal-header">-->
            <!--<h3 id="myModalLabel">Let's meet!</h3>-->
        <!--</div>-->
        <div class="modal-body">

            <div class="controls">
                <div class="input-group input-group-lg">
                    <span class="input-group-addon">$</span>
                    <input class="form-control" type="text" id="price" name="price" ng-model="deal.price" required="true"/>
                </div>
            </div>

            <div ng-show="error.price">
                <span class="text-danger">{{error.price}}</span>
            </div>

            <br>

            <div class="controls">
                <div class="input-group input-group-lg">
                    <span class="input-group-addon">@</span>
                    <input autocomplete="false" class="form-control" type="text" id="location" name="location" ng-model="deal.location" typeahead="city.description for city in predictAddress($viewValue)" typeahead-on-select='setAddressComponents($item)' required="true" ng-click="deal.location = null"/>
                </div>
            </div>

            <div ng-show="error.where">
                <span class="text-danger">{{error.where}}</span>
            </div>

            <br>

            <div class="controls">
                <div class="input-group input-group-lg">
                    <span class="input-group-addon"><i class="fa fa-comments-o"></i></span>
                    <input class="form-control" type="comment" id="comment" name="comment" ng-model="deal.comment" placeholder="Include comment.  (Optional)"/>
                </div>
            </div>

            <br>
            {{deal.when}}
            <booking-system></booking-system>

            <div ng-show="error.when">
                <span class="text-danger">{{error.when}}</span>
            </div>


        </div>

        <div class="modal-footer">
            <button class="btn btn-default btn-primary" ng-click="counterOffer()">{{button.text}}</button>
        </div>


    </form>

</body>
</html>