/* =============================================================================
  COMPONENT
============================================================================= */
.component {
    text-align: center;
}

.component__title {
    margin-bottom: 12px;
    color: #fff;
    font-size: 22px;
    font-weight: 700;
}

/* =============================================================================
  ICONS - COMMON
============================================================================= */
/**
 * Icon common styles.
 *
 * Set it to block or inline block, whichever suits your needs. Overflow set to
 * hidden for precautions, and make sure to set the font size to 0 and the text
 * indent to -9999px. This allows us to actually include text in the markup
 * which will be good for screen readers and accessibility purposes.
 */
.icon {
    display: inline-block;
    vertical-align: top;
    overflow: hidden;
    margin: 4px;
    width: 96px;
    height: 96px;
    font-size: 0;
    text-indent: -9999px;
}

/* =============================================================================
  ICONS - DEMO 1
============================================================================= */
/**
 * "icon-mono" class name used to indicate monochrome-type icon. Use whatever
 * class name you want, but make sure to change it up in the markup.
 *
 * Example HTML:
 *
 * <a href="#" class="icon icon-mono facebook">facebook</a>
 * <a href="#" class="icon icon-mono twitter">twitter</a>
 * ...
 */
.icon-mono {
    background: url("//static.hashtagsell.com/htsApp/external-marketplaces/external-services-1.png");
    /*background-image: url("http://static.hashtagsell.com/logos/newPost+Icons/icons1.svg"), none;*/
    background-color: #595959;
    -webkit-transition: background 0.3s;
    transition: background 0.3s;
    cursor: pointer;
}



.icon-mono:hover ~ #instructions {
    display: none;
}




/* facebook */
.icon-mono.facebook {
    background-position: 0 0;
}

/*.icon-mono.facebook:hover {*/
    /*background-color: #3b5998;*/
    /*background-position: 0 -96px;*/
/*}*/

.icon-mono.facebook.hold {
    background-color: #3b5998;
    background-position: 0 -96px;
}

#facebookBlurb {
    display: none;
}

.icon-mono.facebook:hover ~ #facebookBlurb {
    display: block;
}









/* twitter */
.icon-mono.twitter {
    background-position: -96px 0;
}

/*.icon-mono.twitter:hover {*/
    /*background-color: #4099ff;*/
    /*background-position: -96px -96px;*/
/*}*/

.icon-mono.twitter.hold {
    background-color: #4099ff;
    background-position: -96px -96px;
}

#twitterBlurb {
    display: none;
}

.icon-mono.twitter:hover ~ #twitterBlurb {
    display: block;
}





/* google plus */
.icon-mono.ebay {
    background-position: -192px 0;
}

/*.icon-mono.ebay:hover {*/
    /*background-color: #d34836;*/
    /*background-position: -192px -96px;*/
/*}*/

.icon-mono.ebay.hold {
    background-color: #d34836;
    background-position: -192px -96px;
}

#ebayBlurb {
    display: none;
}

.icon-mono.ebay:hover ~ #ebayBlurb {
    display: block;
}





/* amazon */
.icon-mono.amazon {
    background-position: -288px 0;
}

/*.icon-mono.amazon:hover {*/
    /*background-color: #333333;*/
    /*background-position: -288px -96px;*/
/*}*/

.icon-mono.amazon.hold {
    background-color: #333333;
    background-position: -288px -96px;
}

#amazonBlurb {
    display: none;
}

.icon-mono.amazon:hover ~ #amazonBlurb {
    display: block;
}





/* online payment */
.icon-mono.craigslist {
    background-position: -384px 0;
}

/*.icon-mono.craigstlist:hover {*/
    /*background-color: #009cde;*/
    /*background-position: -384px -96px;*/
/*}*/

.icon-mono.craigslist.hold {
    background-color: #009cde;
    background-position: -384px -96px;
}

#craigslistBlurb {
    display: none;
}

.icon-mono.craigslist:hover ~ #craigslistBlurb {
    display: block;
}



.circ-spinner {
    height: 60px;
    width: 60px;
    margin: 17px auto;
    position: relative;
    -webkit-animation: rotation .6s infinite linear;
    -moz-animation: rotation .6s infinite linear;
    -o-animation: rotation .6s infinite linear;
    animation: rotation .6s infinite linear;
    border-left: 6px solid rgba(0, 174, 239, .15);
    border-right: 6px solid rgba(0, 174, 239, .15);
    border-bottom: 6px solid rgba(0, 174, 239, .15);
    border-top: 6px solid rgba(0, 174, 239, .8);
    border-radius: 100%;
}

@-webkit-keyframes rotation {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(359deg);
    }
}

@-moz-keyframes rotation {
    from {
        -moz-transform: rotate(0deg);
    }
    to {
        -moz-transform: rotate(359deg);
    }
}

@-o-keyframes rotation {
    from {
        -o-transform: rotate(0deg);
    }
    to {
        -o-transform: rotate(359deg);
    }
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}