<div>
    <div class="settings-header">
        <h3>Password</h3>
        <h4>Change your password</h4>
    </div>
</div>

<form id="updatePasswordForm" name="updatePasswordForm" class="form-horizontal" ng-submit="updatePassword(updatePasswordForm.$valid)" novalidate>

    <div class="form-group">
        <label class="col-sm-2 control-label">Current Password</label>
        <div class="col-sm-2">

            <div class="controls">
                <input class="form-control" type="password" name="currentPassword" ng-model="currentPassword" required>
            </div>

        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">New Password</label>

        <div class="col-sm-2">
            <input class="form-control" type="password" ng-minlength="4" ng-maxlength="30" ng-pattern="/^[a-zA-Z0-9.!@#$%&*~+=-_]*$/" name="newPassword" ng-model="newPassword" required>
            <p ng-show="updatePasswordForm.newPassword.$error.minlength" class="help-block"><small class="text-danger">Password is too short.</small></p>
            <p ng-show="updatePasswordForm.newPassword.$error.maxlength" class="help-block"><small class="text-danger">Password is too long.</small></p>
            <p ng-show="updatePasswordForm.newPassword.$error.pattern" class="help-block"><small class="text-danger">Remove spaces in password.</small></p>
        </div>
    </div>


    <div class="form-group">
        <label class="col-sm-2 control-label">Verify Password</label>

        <div class="col-sm-2">
            <input class="form-control" type="password" name="veryifyNewPassword" ng-model="verifyNewPassword" matchinput="newPassword" required>
            <p ng-show="updatePasswordForm.veryifyNewPassword.$error.match" class="help-block"><small class="text-danger">New passwords do not match</small></p>
            <small id="msg-change-password" class="text-danger">
                {{message}}
            </small>
        </div>
    </div>

    <div class="col-sm-5 col-sm-offset-2">
        <input class="btn btn-success" type="submit" value="Update Password" ng-disabled="updatePasswordForm.$invalid">
    </div>

</form>