<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <div class="modal-header">
        <h3 style="text-align: center;">Verification Email Sent</h3>
    </div>
    <div class="modal-body">
        <p>Please acknowledge the activation email we've just sent you.</p>
        <p>Thanks for making HashtagSell a safe community to buy and sell used goods!</p>
    </div>
    <!--<div class="modal-footer">-->
        <!--<a href="mailto:" target="_self" class="btn btn-default">Go to inbox</a>-->
    <!--</div>-->
</body>
</html>