<link rel="stylesheet" href="css/mailbox.css"/>

<div class="outer-container-mailbox">
    <!--<div ui-sref="mailbox.message({id: 1234})">This is our soon to be inbox {{testing}} {{testfactory}}</div>-->
    <div class="inner-mailbox-container">
        <div class="cabinet-container">
            <div style="padding-right: 10px; padding-left: 10px;">
            <div ng-repeat="items in cabinet">
                <h5>{{items.title}}</h5>
                <ul ng-repeat="folder in items.folders" class="nav nav-pills nav-stacked">
                    <li ui-sref="{{folder.link}}" role="presentation" ng-class="folder.active ? 'active' : 'null'">
                        <a>
                            {{folder.title}} <span ng-if="folder.content.count > 0" class="badge pull-right">{{folder.content.count}}</span>
                        </a>
                    </li>
                </ul>
            </div>
            </div>
        </div>

        <div class="inbox-container">
            <div ui-view></div>
        </div>
    </div>
</div>