<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

        <form name="RegisterFormV2" id="RegisterFormV2" class="form-horizontal" ng-submit="signupPassport(RegisterFormV2.$valid)" novalidate>
            <div class="modal-header">
                <h3 style="text-align: center;">Create Your Account</h3>
                <div style="text-align: center;">
                    <small>
                        <a href ng-click="dismiss('signIn')">
                            Sign in to my existing account.
                        </a>
                    </small>
                </div>
            </div>
            <div class="modal-body">

                <div class="controls">
                    <input class="form-control" type="email" id="email" name="email" ng-model="email" placeholder="Email" required="true"/>
                </div>

                <br>


                <div class="controls">
                    <div class="input-group">
                        <span class="input-group-addon">@</span>
                        <input class="form-control" type="text" id="username" name="username" ng-model="name" ng-minlength="3" ng-maxlength="22" ng-pattern="/^[a-zA-Z0-9]*$/" placeholder="Username" required="true"/>
                    </div>
                </div>


                <br>

                <div class="controls">
                    <input class="form-control" type="password" id="password" name="password" ng-model="password" ng-minlength="4" ng-maxlength="30" ng-pattern="/^[a-zA-Z0-9.!@#$%&*~+=^-_]*$/" placeholder="Password" required="true"/>
                </div>

                <br>

                <!--<div class="controls">-->
                    <!--<input class="form-control" type="text" id="secret" placeholder="Early Access Code" name="secret" ng-model="secret" required="true"/>-->
                    <!--<span>-->
                        <!--<a href ng-click="dismiss('subscribe')" style="position: relative; top: 3px;">-->
                            <!--<small>I don't have an access code</small>-->
                        <!--</a>-->
                    <!--</span>-->
                <!--</div>-->

                <!--<br/>-->

                <div class="controls">

                        <input id="betaAgreement" name="betaAgreement" type="checkbox" ng-model="betaAgreement" required="true"> I agree to the
                        <a ui-sref="betaAgreement" target="_blank" required>Beta Agreement</a>

                    <br>
                    <small class="text-danger">{{message}}</small>
                </div>


            </div>
            <div class="modal-footer">
                <button id="submit-create-account" class="btn" ng-class="RegisterFormV2.$invalid ? 'btn-warning' : 'btn-success'" type="submit" ng-disabled="RegisterFormV2.$invalid">
                    <span ng-show="RegisterFormV2.username.$error.minlength">Username too short</span>
                    <span ng-show="RegisterFormV2.username.$error.maxlength">Username too long</span>
                    <span ng-show="RegisterFormV2.username.$error.pattern">Remove special chars in username</span>
                    <span ng-show="RegisterFormV2.password_verify.$error.match">Passwords do not match</span>
                    <span ng-show="RegisterFormV2.password.$error.minlength">Password too short</span>
                    <span ng-show="RegisterFormV2.password.$error.pattern">Remove spaces in password</span>
                    <span ng-show="!RegisterFormV2.username.$error.minlength &&
                    !RegisterFormV2.username.$error.maxlength &&
                    !RegisterFormV2.username.$error.pattern &&
                    !RegisterFormV2.password_verify.$error.match &&
                    !RegisterFormV2.password.$error.minlength &&
                    !RegisterFormV2.password.$error.pattern &&
                    RegisterFormV2.$invalid"
                            >Almost there</span>
                    <span ng-show="!RegisterFormV2.username.$error.minlength &&
                    !RegisterFormV2.username.$error.maxlength &&
                    !RegisterFormV2.username.$error.pattern &&
                    !RegisterFormV2.password_verify.$error.match &&
                    !RegisterFormV2.password.$error.minlength &&
                    !RegisterFormV2.password.$error.pattern &&
                    !RegisterFormV2.$invalid"
                            >Create Account</span>
                </button>
                <!--<button class="btn btn-default" ng-click="dismiss('dismiss')">Close</button>-->
            </div>
        </form>
</body>
</html>