<link rel="stylesheet" href="css/selling.css"/>

<div ui-view></div>

<div ng-show="!results.length && !pleaseWait" class="background-instructions">
    <div class="inset-background-text">
        :( Awww... You're not selling anything.  <span ng-click="newPost();" style="cursor: pointer; color: rgb(66, 139, 202);">Try it out?</span>
    </div>
</div>


<div class="outer-container" ng-show="results.length">
    <img ng-if="pleaseWait" src="/images/logo/hashtag_spinner.gif" class="spinner-abs-center"/>
    <div class="inner-container inner-container-padding">
        <div class="selling-item" style="cursor: pointer;" ng-repeat="result in results"
             ng-click="openSplash(this)"
             ng-class="{hasPrice: result.price, hasImage: result.images.length}"
             data-category="{{::result.category}}"
             data-email="{{::result.annotations.source_account}}"
             data-lat="{{::result.location.lat}}"
             data-long="{{::result.location.long}}"
             data-sourceUrl="{{::result.external_url}}"
             data-postDate="{{::result.annotations.original_posting_date}}"
                >
            <div class="thumbnail">
                <ribbon ng-if="!!result.price" data-price="{{::result.price}}">{{::result.price | currency}}</ribbon>

                <!--Has NO image-->
                <div ng-if="!result.images.length">
                    <div class="row">
                        <div class="col-lg-5 col-md-6 col-sm-6 col-xs-6">
                            <div class="noImage-Placeholder"></div>
                        </div>
                        <div class="col-lg-7 col-md-6 col-sm-6 col-xs-6 noImage-TextContainer">
                            <div class="row">
                                <div class="caption">
                                    <h4 class="noImage-heading">{{::result.heading}}</h4>
                                    <p class="noImage-body" ng-bind-html="result.body"></p>
                                </div>
                            </div>

                            <div class="row">
                                <div class="text-center">
                                    <button class="btn btn-default btn-lg" role="button">Edit Post</button>
                                    <button class="btn btn-danger btn-lg" role="button" ng-click="deletePost(result, $index); $event.stopPropagation();">Delete Post</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <!--Has ONE image-->
                <div ng-if="result.images.length == 1">
                    <div class="row">
                        <div class="col-lg-5 col-md-6 col-sm-6 col-xs-6">
                            <img ng-src="{{::result.images[0].thumb || result.images[0].full }}" class="img-responsive singleImage-Image">
                        </div>
                        <div class="col-lg-7 col-md-6 col-sm-6 col-xs-6 singleImage-TextContainer">
                            <div class="row">
                                <div class="caption">
                                    <h4 class="singleImage-heading">{{::result.heading}}</h4>
                                    <p class="singleImage-body" ng-bind-html="result.body"></p>
                                </div>
                            </div>

                            <div class="row">
                                <div class="text-center">
                                    <button class="btn btn-default btn-lg" role="button">Edit Post</button>
                                    <button class="btn btn-danger btn-lg" role="button" ng-click="deletePost(result, $index); $event.stopPropagation();">Delete Post</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <!--Has MULTIPLE images-->
                <div ng-if="result.images.length > 1">
                    <div class="row">
                        <div class="col-lg-12">
                            <slick-carousel
                                    settings="slickConfig"
                                    media="result.images">
                            </slick-carousel>
                        </div>
                    </div>

                    <div class="row">
                        <div class="caption">
                            <h4 class="carousel-heading">{{::result.heading}}</h4>
                            <!--<span ng-if="result.publishing">-->
                                <span style="float:right; margin-right: 15px;">
                                    <a href="#" target="_blank" ng-click="$event.stopPropagation();"><img src="/images/logo/sources/twitter_ad_unselected.png" style="height: 40px;"></a>
                                </span>

                                <span style="float:right;">
                                    <a href="#" target="_blank" ng-click="$event.stopPropagation();"><img src="/images/logo/sources/facebook_ad_unselected.png" style="height: 40px;"></a>
                                </span>

                                <span style="float:right;">
                                    <a href="#" target="_blank" ng-click="$event.stopPropagation();"><img src="/images/logo/sources/craigslist_unselected.png" style="height: 40px;"></a>
                                </span>

                                <span style="float:right;">
                                    <a href="#" target="_blank" ng-click="$event.stopPropagation();"><img src="/images/logo/sources/amazon_unselected.png" style="height: 40px;"></a>
                                </span>

                                <span style="float:right;" ng-if="result.publishing.ebay">
                                    <a ng-href="{{result.publishing.ebay.url}}" target="_blank" ng-click="$event.stopPropagation();"><img src="/images/logo/sources/ebay_selected.png" style="height: 40px;"></a>
                                </span>

                                <span style="float:right;" ng-if="!result.publishing.ebay">
                                    <a href="#" target="_blank" ng-click="$event.stopPropagation();"><img src="/images/logo/sources/ebay_unselected.png" style="height: 40px;"></a>
                                </span>

                            <!--</span>-->
                            <p class="carousel-body" ng-bind-html="result.body"></p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="text-center">
                            <button class="btn btn-default btn-lg" role="button">Edit Post</button>
                            <button class="btn btn-danger btn-lg" role="button" ng-click="deletePost(result, $index); $event.stopPropagation();">Delete Post</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
