<div>
    <div class="settings-header">
        <h3>Password</h3>
        <h4>Change your password</h4>
    </div>
</div>

<div class="container">
    <form id="updatePasswordForm" name="updatePasswordForm" class="form-horizontal" ng-submit="updatePassword(updatePasswordForm.$valid)" novalidate>

       <div class="form-group" ng-show="alerts.length">
           <label class="col-md-2 control-label"></label>

           <div class="col-md-3">
               <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
           </div>
       </div>

        <div class="form-group">
            <label class="col-md-2 control-label">Current Password</label>
            <div class="col-md-3">

                <div class="controls">
                    <input class="form-control" type="password" name="currentPassword" ng-model="currentPassword" required>
                </div>

            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label">New Password</label>

            <div class="col-md-3">
                <input class="form-control" type="password" ng-minlength="4" ng-maxlength="30" ng-pattern="/^[a-zA-Z0-9.!@#$%&*~+=-_]*$/" name="newPassword" ng-model="newPassword" required>
            </div>
        </div>


        <div class="form-group">
            <label class="col-md-2 control-label">Verify Password</label>

            <div class="col-md-3">
                <input class="form-control" type="password" name="veryifyNewPassword" ng-model="verifyNewPassword" matchinput="newPassword" required>
            </div>
        </div>


        <!-- Button -->
        <div class="form-group">
            <label class="col-md-2 control-label" for="submit"></label>
            <div class="col-md-3">
                <!--<button id="submit" name="submit" class="btn btn-primary"  ng-disabled="updatePasswordForm.$invalid">Submit</button>-->
                <button class="btn btn-primary" ng-show="!currentPassword && !newPassword && !verifyNewPassword">Change password</button>

                <button id="submit" class="btn" ng-show="currentPassword || newPassword || verifyNewPassword" type="submit" ng-class="updatePasswordForm.$invalid ? 'btn-warning' : 'btn-success'" ng-disabled="updatePasswordForm.$invalid">
                    <span ng-show="updatePasswordForm.newPassword.$error.minlength">Password is too short.</span>

                    <span ng-show="updatePasswordForm.newPassword.$error.pattern">Remove spaces in password.</span>

                    <span ng-show="updatePasswordForm.veryifyNewPassword.$error.match">Passwords do not match.</span>

                    <span ng-show="!updatePasswordForm.newPassword.$error.minlength &&
                        !updatePasswordForm.newPassword.$error.pattern &&
                        !updatePasswordForm.veryifyNewPassword.$error.match &&
                        updatePasswordForm.$invalid"
                            >Keep going</span>

                    <span ng-show="!updatePasswordForm.newPassword.$error.minlength &&
                        !updatePasswordForm.newPassword.$error.pattern &&
                        !updatePasswordForm.veryifyNewPassword.$error.match &&
                        !updatePasswordForm.$invalid"
                            >Change password</span>
                </button>



            </div>
        </div>

    </form>
</div>