<div ui-view></div>

<div ng-if="!mail.questions.sent.data.length" class="background-instructions">
    <div class="inset-text">
        Submit a question on an item for sale.  The seller's answer will appear here.
    </div>
</div>

<table class="table table-striped table-hover" ng-if="mail.questions.sent.data.length">
    <tbody>
    <tr ng-repeat="message in mail.questions.sent.data">
        <!--<td ng-class="{'active':checkIfUnread(message)}"><b>From:</b> {{message.username}}</td>-->
        <td><b>From:</b> @Need this data</td>
        <td ng-if="message.value"> {{message.value}} </td>

    </tr>
    </tbody>
</table>