<div>
    <div class="settings-header">
        <h3>Account</h3>
        <h4>Manage your account settings</h4>
    </div>
</div>

<div class="container">
    <form class="form-horizontal">
        <!--<div class="form-group has-feedback" ng-class="safeSearchUpdated ? 'has-success' : ''">-->
            <!--<label class="col-sm-2 control-label">Safe Search</label>-->
            <!--<div class="col-sm-2">-->
                <!--<select class="form-control" ng-model="safeSearch" ng-options="opt for opt in options.safeSearch" ng-change="setSafeSearch(safeSearch)"></select>-->
                <!--<span ng-show="safeSearchUpdated" class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>-->
                <!--&lt;!&ndash;<i ng-show="safeSearchUpdated" class="fa fa-check-circle fa-2x safeSearch-checkmark"></i>&ndash;&gt;-->
            <!--</div>-->
        <!--</div>-->

        <!--<div class="form-group has-feedback" ng-class="defaultEmailUpdated ? 'has-success' : ''">-->
            <!--<label class="col-sm-2 control-label">Default Email</label>-->
            <!--<div class="col-sm-2">-->
                <!--<select class="form-control" ng-model="defaultEmail" ng-options="opt.value as opt.name for opt in options.defaultEmail" ng-change="setDefaultEmail(defaultEmail)"></select>-->
                <!--<span ng-show="defaultEmailUpdated" class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>-->
                <!--&lt;!&ndash;<i ng-show="defaultEmailUpdated" class="fa fa-check-circle fa-2x defaultEmail-checkmark"></i>&ndash;&gt;-->
            <!--</div>-->
        <!--</div>-->

        <div class="form-group">

            <label class="col-sm-2 control-label">Facebook</label>
            <div class="col-sm-5" ng-show="!userObj.user_settings.linkedAccounts.facebook.id">
                <a href="/auth/facebook" target="_self" class="btn btn-primary btn-sm"><span class="fa fa-facebook"></span> Link Facebook</a>
            </div>
            <div class="col-sm-5" ng-show="userObj.user_settings.linkedAccounts.facebook.id">
                <!--<img ng-src="http://graph.facebook.com/v2.3/{{userObj.user_settings.linkedAccounts.facebook.id}}/picture">-->
                <a ng-click="disconnectFacebook()" class="btn btn-primary btn-sm">Disconnect my Facebook</a>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">Twitter</label>
            <div class="col-sm-5" ng-show="!userObj.user_settings.linkedAccounts.twitter.id">
                <a href="/auth/twitter" target="_self" class="btn btn-info btn-sm"><span class="fa fa-twitter"></span> Link Twitter</a>
            </div>
            <div class="col-sm-5" ng-show="userObj.user_settings.linkedAccounts.twitter.id">
                <a ng-click="disconnectTwitter()" class="btn btn-info btn-sm">Disconnect my Twitter</a>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">eBay</label>
            <div class="col-sm-5" ng-show="!userObj.user_settings.linkedAccounts.ebay.eBayAuthToken">
                <a ng-click="getEbaySessionID()" target="_self" class="btn btn-warning btn-sm"> Link Ebay</a>
                <div>
                    <small ng-show="ebay.err" class="text-danger">{{ebay.err}}</small>
                </div>
            </div>
            <div class="col-sm-5" ng-show="userObj.user_settings.linkedAccounts.ebay.eBayAuthToken">
                <a ng-click="disconnectEbay()" class="btn btn-warning btn-sm">Disconnect my eBay</a>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">Delete Account</label>
            <div class="col-sm-5">
                <a ng-click="deleteAccount()" target="_self" class="btn btn-danger btn-sm"> Delete Entire Account</a>
            </div>
        </div>

    </form>
</div>
