<div class="container-fluid splash-content">

    <div class="navbar navbar-default nav-links navbar-fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand hidden-sm hidden-xs" ui-sref="feed">
                <img src="/images/logo/HashtagSell_Logo_80px.svg" class="logo-nav mini-navbar" />
            </a>
            <a class="navbar-brand visible-sm visible-xs" ng-click="toggleOffCanvasSideNav()" style="cursor: pointer">
                <i class="fa fa-bars fa-2x"></i>
            </a>
            <ul class="nav navbar-nav pull-right">
                <li class="hidden-sm hidden-xs">
                    <a ng-click="$dismiss('feed')">
                        My Feed
                    </a>
                </li>
                <li class="hidden-sm hidden-xs">
                    <a ng-click="$dismiss('selling')">
                        I'm Selling
                    </a>
                </li>
                <li class="hidden-sm hidden-xs">
                    <a ng-click="$dismiss('interested')">
                        My Favorites
                    </a>
                </li>
                <li class="hidden-sm hidden-xs">
                    <a ng-click="$dismiss('notifications')">
                        Notify Me
                    </a>
                </li>
                <li ng-controller="newPostController">
                    <button type="button" class="btn btn-danger" ng-click="newPost(); $event.stopPropagation();">#Sell It</button>
                </li>
                <li class="dropdown" ng-controller="userMenu">
                    <a href class="dropdown-toggle" on-toggle="toggled(open)">
                        <img class='img-circle' ng-src={{userObj.user_settings.profile_photo}} width="38"/>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right" ng-if="!userObj.user_settings.loggedIn">
                        <li><a href ng-click="signIn()">Sign In</a></li>
                        <li><a href ng-click="signUp()">Create Account</a></li>
                    </ul>
                    <ul class="dropdown-menu dropdown-menu-right" ng-if="userObj.user_settings.loggedIn">
                        <li><a ui-sref="settings.general">User Settings</a></li>
                        <li class="divider"></li>
                        <li><a href="#" ng-click="logout()">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>

    <div class="master-container">
        <div class="splash-content-container" ng-class="{ 'offcanvas-open' : !sideNavOffCanvas.hidden}">
            <div class="container">
                <div class="splash-outer-container">
                    <div class="splash-inner-container">
                        <div style="background-color: #f8f8f8; border-bottom: 1px solid #e7e7e7; margin-bottom: 20px;">
                            <div class="container-fluid">
                                <ul class="nav navbar-nav" style="width: 100%;">
                                    <li style="float: left;">
                                        <a ng-click="$dismiss()">
                                            < Back
                                        </a>
                                    </li>
                                    <li style="display: table; margin: 6px auto 0px auto;">
                                        <h3 style="margin: 0px;" ng-bind-html="result.heading | cleanHeading"></h3>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="photo-description-column" style="padding-right: 40%;">
                            <div class="photocarousel" style="margin-left: 20%;">
                                <div class="thumbnail" style="padding: 4px 4px 0px 4px;" ng-if="result.images.length">
                                    <div class="row">
                                        <div class="col-xs-12 splashCarousel">
                                            <div ng-if="result.images.length === 1 && toggles.showCarousel">
                                                <img ng-src="{{::result.images[0].full || result.images[0].thumb || result.images[0].images}}" class="img-responsive singleImage-splash-Image"/>
                                            </div>
                                            <div ng-if="result.images.length > 1">
                                                <slick-carousel
                                                        settings="slickConfig"
                                                        media="result.images"
                                                        ng-if="toggles.showCarousel">
                                                </slick-carousel>
                                            </div>
                                            <ui-gmap-google-map class="splash-map" center='map.settings.center' zoom='map.settings.zoom' options='map.settings.options' ng-if="!toggles.showCarousel">

                                                <ui-gmap-marker coords="map.marker.coords" idkey="map.marker.id" options="map.marker.options" click="onClick()">
                                                    <ui-gmap-window options="windowOptions" show="infoWindow.show" closeClick="closeClick()">

                                                    </ui-gmap-window>
                                                </ui-gmap-marker>

                                            </ui-gmap-google-map>
                                            <div style="margin: 0px -4px 0px -4px; padding-top: 13px;">
                                                <div class="col-xs-6" ng-class="toggles.showCarousel ? '' : 'grey-photo-selector'" ng-click="toggles.showCarousel = true" style="height: 40px; text-align: center; cursor: pointer;">
                                                    <i class="fa fa-camera fa-lg" style="margin-top: 16px;">&nbsp; Photos</i>
                                                </div>
                                                <div class="col-xs-6" ng-class="toggles.showCarousel ? 'grey-map-selector' : ''" ng-click="toggles.showCarousel = false" style="height: 40px; text-align: center; cursor: pointer;">
                                                    <i class="fa fa-map-marker fa-lg" style="margin-top: 16px;">&nbsp; Map</i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="thumbnail" ng-if="!result.images.length">
                                    <div class="row">
                                        <div class="col-xs-12 splashCarousel">
                                            <ui-gmap-google-map class="splash-map" center='map.settings.center' zoom='map.settings.zoom' options='map.settings.options'>

                                                <ui-gmap-marker coords="map.marker.coords" idkey="map.marker.id" options="map.marker.options" click="onClick()">
                                                    <ui-gmap-window options="windowOptions" show="infoWindow.show" closeClick="closeClick()">

                                                    </ui-gmap-window>
                                                </ui-gmap-marker>

                                            </ui-gmap-google-map>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="details-column" style="margin-left: 20%; padding-top: 13px;">
                                <div ng-if="result.sanitized_annotations" class="row">
                                    <div ng-repeat="(key, value) in result.sanitized_annotations">
                                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                            <h4 class="row annotationKey">
                                                {{::key}}
                                            </h4>
                                            <div class="row annotationValue">
                                                {{::value}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div style="margin-left: 20%;">
                                <h4>Description:</h4>
                                <div ng-bind-html="result.body | cleanBody | linky:'_blank'">

                                </div>
                            </div>
                        </div>
                        <div class="bs-profile-nav" style="position: absolute; left: 60%; top: 38px;">
                            <splash-side-profile result="result" style="cursor: pointer">
                                <div class="profile">
                                    <div class="profileCircle">
                                        <img class='bs-profile-image' width="70px;" height="70px;"/>
                                    </div>
                                </div>
                                <div class="splash-username-container">
                                    <div class="splash-bs-username"></div>
                                    <h2 style="color: #216C2A; margin-bottom: 2px;">{{::result.price | currency : $ : 0}}</h2>
                                    <!--<button type="submit" class="btn btn-danger btn-sm btn-block" ng-click="newPost(); $event.stopPropagation();">New post</button>-->
                                </div>
                            </splash-side-profile>

                            <!--SideNav-->
                            <div class="list-group splash-bs-side-nav ng-cloak" ng-controller="sideNav.controller">
                                <a class="list-group-item" ng-if="result.source == 'CRAIG' && result.annotations.source_account" ng-click="sideNav.splashItems[1].action(result)" style="cursor: pointer">
                                    <i class="fa fa-envelope-square fa-fw fa-lg"></i>&nbsp; Email seller
                                </a>
                                <a class="list-group-item" ng-if="result.source == 'CRAIG' && result.annotations.phone" ng-click="sideNav.splashItems[2].action(result)" style="cursor: pointer">
                                    <i class="fa fa-phone-square fa-fw fa-lg"></i>&nbsp; Phone seller
                                </a>
                                <a  class="list-group-item" ng-if="result.source === 'HSHTG'" ng-click="sideNav.splashItems[3].action(result)" style="cursor: pointer">
                                    <i class="fa fa-credit-card fa-fw fa-lg"></i>&nbsp; Place offer
                                </a>
                                <a class="list-group-item"  ng-if="result.source === 'E_BAY'" ng-click="sideNav.splashItems[4].action(result)" style="cursor: pointer">
                                    <i class="fa fa-credit-card fa-fw fa-lg"></i>&nbsp; Place bid
                                </a>
                                <a class="list-group-item" ng-click="sideNav.splashItems[4].action(result)" style="cursor: pointer">
                                    <i class="fa fa-star fa-fw fa-lg"></i>&nbsp; Favorite
                                </a>
                                <a class="list-group-item" ng-click="alert('spam reporting feature soon')" style="cursor: pointer">
                                    <i class="fa fa-flag fa-fw fa-lg"></i>&nbsp; Report
                                </a>
                                <a class="list-group-item" ng-if="result.source && result.source != 'HSHTG'" ng-click="sideNav.splashItems[4].action(result)" style="cursor: pointer">
                                    <i class="fa fa-external-link-square fa-fw fa-lg"></i>&nbsp; Link to original
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>