<div class="splash-content">
    <button class="btn btn-lg btn-outline" ng-click="$dismiss()">close</button>
    Annotation: {{annotations}}

    <br>
    <br>

    Body: {{body}}

    <br>
    <br>

    Category: {{category}}

    <br>
    <br>

    Category Group: {{category_group}}

    <br>
    <br>

    Distance From User: {{distanceFromUser}}

    <br>
    <br>

    External ID: {{external_id}}

    <br>
    <br>

    Exernal URL: {{external_url}}

    <br>
    <br>

    Heading: {{heading}}

    <br>
    <br>

    Images: {{images}}

    <br>
    <br>

    Locations: {{location}}

    <br>
    <br>

    Price: {{price}}

    <br>
    <br>

    Source: {{source}}
</div>