<div class="container-fluid splash-content">

    <div class="row">
        <div class="col-lg-offset-11 col-lg-1 col-md-offset-11 col-md-1 col-sm-offset-9 col-sm-3 col-xs-offset-9 col-xs-3">
            <button class="btn btn-lg btn-outline close-button" ng-click="$dismiss()"><i class="fa fa-times"></i></button>
        </div>
    </div>

    <!--Google Map-->
    <div class="row">
        <ui-gmap-google-map center='map.settings.center' zoom='map.settings.zoom'  options='map.settings.options'>

            <ui-gmap-marker coords="map.marker.coords" idkey="map.marker.id" options="map.marker.options">
                <ui-gmap-window show="map.infoWindow.show">
                    {{::result.location.formatted_address || result.location.geocoded_address}}
                </ui-gmap-window>
            </ui-gmap-marker>

        </ui-gmap-google-map>
    </div>

    <div class="row overlay-fade">

    </div>

    <div class="row overlay-details">
        <div class="col-lg-2 col-md-3 col-sm-3 col-xs-3">
            <div class="row">
                <div class="col-lg-2 col-md-3 col-sm-3 hidden-xs bs-profile-nav">
                    <div ng-controller="sideProfile" class="profile" back-img="{{userObj.user_settings.banner_photo}}" ui-sref="profile" style="cursor: pointer">
                        <div class="profileCircle">
                            <img class='bs-profile-image' ng-src={{userObj.user_settings.profile_photo}} width="70px;" height="70px;"/>
                        </div>
                    </div>
                    <!--<div ng-controller="newPostController" class="sellButton" ui-sref="profile" style="cursor: pointer">-->
                        <!--<div class="bs-username ng-cloak" ng-show="userObj.user_settings.name"> @{{userObj.user_settings.name}}</div>-->
                        <!--<button type="submit" class="btn btn-danger btn-sm btn-block" ng-click="newPost(); $event.stopPropagation();">#Sell It</button>-->
                    <!--</div>-->
                    <!--<div class="sellButton">-->
                        <!--<transaction-buttons result="result"></transaction-buttons>-->
                    <!--</div>-->

                    <!--SideNav-->
                    <div class="list-group bs-side-nav ng-cloak" ng-controller="sideNav.controller">
                        <!--<a ng-repeat="item in sideNav.splashItems" ui-sref="{{item.link}}" ng-click="item.action(result)" class="list-group-item" ng-class="item.active ? 'active' : 'null'" style="cursor: pointer">-->
                            <!--{{::item.name}}-->
                        <!--</a>-->
                        <!--<a class="list-group-item" href="#"><i class="fa fa-home fa-fw"></i>&nbsp; Home</a>-->
                        <a class="list-group-item" ui-sref="{{sideNav.splashItems[0].link}}">
                            <i class="fa fa-chevron-circle-left fa-fw fa-lg"></i>&nbsp; Back
                        </a>
                        <a class="list-group-item" ng-if="result.source == 'CRAIG' && result.annotations.source_account" ng-click="sideNav.splashItems[1].action(result)" style="cursor: pointer">
                            <i class="fa fa-envelope-square fa-fw fa-lg"></i>&nbsp; Email seller
                        </a>
                        <a class="list-group-item" ng-if="result.source == 'CRAIG' && result.annotations.phone" ng-click="sideNav.splashItems[2].action(result)" style="cursor: pointer">
                            <i class="fa fa-phone-square fa-fw fa-lg"></i>&nbsp; Phone seller
                        </a>
                        <a  class="list-group-item" ng-if="result.source === 'HSHTG'" ng-click="sideNav.splashItems[3].action(result)" style="cursor: pointer">
                            <i class="fa fa-credit-card fa-fw fa-lg">&nbsp; Place offer</i>
                        </a>
                        <a class="list-group-item"  ng-if="result.source === 'E_BAY'" ng-click="sideNav.splashItems[4].action(result)" style="cursor: pointer">
                            <i class="fa fa-credit-card fa-fw fa-lg"></i>&nbsp; Place bid
                        </a>
                        <a class="list-group-item" ng-if="result.source" ng-click="sideNav.splashItems[4].action(result)" style="cursor: pointer">
                            <i class="fa fa-external-link-square fa-fw fa-lg"></i>&nbsp; Link to original
                        </a>
                    </div>
                </div>
            </div>

        </div>

        <div class="col-lg-10 col-md-9 col-sm-9 col-xs-12">

            <div class="row">
                <div class="col-lg-9 col-md-9 col-sm-8 col-xs-8">
                    <h1 class="heading">
                        {{::result.heading_clean}}
                    </h1>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-4">
                    <h1 class="price">
                        {{::result.price | currency}}
                    </h1>
                </div>
            </div>


            <div class="row">

                <div ng-if="result.images.length">
                    <ul rn-carousel rn-carousel-buffered rn-carousel-controls class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <li ng-repeat="image in result.images">
                            <div class="layer" ng-if="image.full" ng-style="{'background-image': 'url(' + image.full + ')'}">


                            </div>
                            <div class="layer" ng-if="!image.full && image.thumb" ng-style="{'background-image': 'url(' + image.thumb + ')'}">


                            </div>
                            <div class="layer" ng-if="!image.full && !image.thumb && image.images" ng-style="{'background-image': 'url(' + image.images + ')'}">


                            </div>
                        </li>
                    </ul>

                    <!--Far right column contains body, annotations, and commenting system.-->
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 description-block">

                        <!--Annotations-->
                        <div ng-if="result.sanitized_annotations" class="row">
                            <div ng-repeat="(key, value) in result.sanitized_annotations">
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                    <h4 class="row annotationKey">
                                        {{::key}}
                                    </h4>
                                    <div class="row annotationValue">
                                        {{::value}}
                                    </div>
                                </div>
                            </div>
                        </div>


                        <!--Body-->
                        <div class="row item-body">
                            <div ng-bind-html="result.body_clean">
                                <!--{{::body}}-->
                            </div>
                        </div>


                        <!--Commenting System-->
                        <div class="row">
                            Q/A MODULE HERE
                        </div>
                    </div>
                </div>

                <div ng-if="!result.images.length">
                    no images
                </div>

            </div>
        </div>
    </div>
</div>