<div class="container-fluid splash-content">
    <div class="master-container">
        <div class="splash-content-container" ng-class="{ 'offcanvas-open' : !sideNav.hidden}">
            <div class="container">
                <div class="splash-outer-container">
                    <div class="splash-inner-container">
                        <div style="background-color: #f8f8f8; border-bottom: 1px solid #e7e7e7; margin-bottom: 20px;">
                            <div class="container-fluid">
                                <ul class="nav navbar-nav" style="width: 100%;">
                                    <li style="float: left;">
                                        <a ng-click="$dismiss()">
                                            < Back
                                        </a>
                                    </li>
                                    <li style="display: table; margin: 6px auto 0px auto;">
                                        <h3 style="margin: 0px;" ng-bind-html="result.heading | cleanHeading"></h3>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="photo-description-column" style="padding-right: 40%;">
                            <div class="photocarousel" style="margin-left: 20%;">
                                <div class="thumbnail" style="padding: 4px 4px 0px 4px;" ng-if="result.images.length">
                                    <div class="row">
                                        <div class="col-xs-12 splashCarousel">
                                            <div ng-if="result.images.length === 1 && toggles.showCarousel">
                                                <img ng-src="{{::result.images[0].full || result.images[0].thumb || result.images[0].images}}" class="img-responsive singleImage-splash-Image"/>
                                            </div>
                                            <div ng-if="result.images.length > 1">
                                                <slick ng-if="toggles.showCarousel" data="result.images" lazy-load='progressive' init-onload=true dots=true infinite=true slides-to-scroll=1 speed=100 variable-width=true center-mode=false>
                                                    <div ng-repeat="image in result.images">
                                                        <img data-lazy="{{image.thumb || image.thumbnail || image.images || image.full}}"/>
                                                    </div>
                                                </slick>
                                            </div>
                                            <ui-gmap-google-map class="splash-map" center='map.settings.center' zoom='map.settings.zoom' options='map.settings.options' ng-if="!toggles.showCarousel">

                                                <ui-gmap-marker coords="map.marker.coords" idkey="map.marker.id" options="map.marker.options" click="onClick()">
                                                    <ui-gmap-window options="windowOptions" show="infoWindow.show" closeClick="closeClick()">

                                                    </ui-gmap-window>
                                                </ui-gmap-marker>

                                            </ui-gmap-google-map>
                                            <div style="margin: 0px -4px 0px -4px; padding-top: 13px;">
                                                <div class="col-xs-6" ng-class="toggles.showCarousel ? '' : 'grey-photo-selector'" ng-click="toggles.showCarousel = true" style="height: 40px; text-align: center; cursor: pointer;">
                                                    <i class="fa fa-camera fa-lg" style="margin-top: 16px;">&nbsp; Photos</i>
                                                </div>
                                                <div class="col-xs-6" ng-class="toggles.showCarousel ? 'grey-map-selector' : ''" ng-click="toggles.showCarousel = false" style="height: 40px; text-align: center; cursor: pointer;">
                                                    <i class="fa fa-map-marker fa-lg" style="margin-top: 16px;">&nbsp; Map</i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="thumbnail" ng-if="!result.images.length">
                                    <div class="row">
                                        <div class="col-xs-12 splashCarousel">
                                            <ui-gmap-google-map class="splash-map" center='map.settings.center' zoom='map.settings.zoom' options='map.settings.options'>

                                                <ui-gmap-marker coords="map.marker.coords" idkey="map.marker.id" options="map.marker.options" click="onClick()">
                                                    <ui-gmap-window options="windowOptions" show="infoWindow.show" closeClick="closeClick()">

                                                    </ui-gmap-window>
                                                </ui-gmap-marker>

                                            </ui-gmap-google-map>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="details-column" style="margin-left: 20%; padding-top: 13px;">
                                <div ng-if="result.sanitized_annotations" class="row">
                                    <div ng-repeat="(key, value) in result.sanitized_annotations">
                                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                            <h4 class="row annotationKey">
                                                {{::key}}
                                            </h4>
                                            <div class="row annotationValue">
                                                {{::value}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div style="margin-left: 20%;">
                                <h4>Description:</h4>
                                <div style="line-height: 20px; padding-bottom: 75px;" ng-bind-html="result.body | cleanBody">

                                </div>
                            </div>
                        </div>
                        <div class="bs-profile-nav" style="position: absolute; left: 60%; top: 38px;">
                            <splash-side-profile result="result">
                                <div class="profile">
                                    <div class="profileCircle">
                                        <img class='bs-profile-image' width="70px;" height="70px;"/>
                                    </div>
                                </div>
                                <div class="splash-username-container">
                                    <div class="splash-bs-username"></div>
                                    <h2 style="color: #216C2A; margin-bottom: 2px;">{{::result.askingPrice.value | currency : $ : 0}}</h2>
                                    <!--<button type="submit" class="btn btn-danger btn-sm btn-block" ng-click="newPost(); $event.stopPropagation();">New post</button>-->
                                </div>
                            </splash-side-profile>

                            <!--SideNav-->
                            <div class="list-group splash-bs-side-nav ng-cloak">
                                <a class="list-group-item" ng-if="result.external.source.code == 'CRAIG' && result.annotations.source_account" ng-click="emailSeller(result)" style="cursor: pointer">
                                    <i class="fa fa-envelope-square fa-fw fa-lg"></i>&nbsp; Email seller
                                </a>
                                <a class="list-group-item" ng-if="result.external.source.code == 'CRAIG' && result.annotations.phone" ng-click="displayPhone(result)" style="cursor: pointer">
                                    <i class="fa fa-phone-square fa-fw fa-lg"></i>&nbsp; Phone seller
                                </a>
                                <a  class="list-group-item" ng-if="result.external.source.code === 'HSHTG' && result.user.merchantAccount.details.funding.destination == 'email' && result.askingPrice.value" ng-click="buyOnline(result)" style="cursor: pointer">
                                    <i class="fa fa-vimeo-square fa-fw fa-lg"></i>&nbsp; Buy now
                                </a>
                                <a  class="list-group-item" ng-if="result.external.source.code === 'HSHTG'" ng-click="placeOffer(result)" style="cursor: pointer">
                                    <i class="fa fa-calendar-o fa-fw fa-lg"></i>&nbsp; Request a meeting
                                </a>
                                <a class="list-group-item"  ng-if="result.external.source.code === 'E_BAY'" ng-click="placeBid(result)" style="cursor: pointer">
                                    <i class="fa fa-paypal fa-fw fa-lg"></i>&nbsp; Bid on item
                                </a>
                                <a class="list-group-item" ng-click="toggleFave(result)" style="cursor: pointer">
                                    <span ng-show="favorited">
                                        <span ng-show="favorited" ng-class="{starHighlighted: favorited, star: !favorited}" class="fa fa-fw fa-lg"></span>&nbsp; Remove from watch list
                                    </span>
                                    <span ng-show="!favorited">
                                        <span ng-class="{starHighlighted: favorited, star: !favorited}" class="fa fa-fw fa-lg"></span>&nbsp; Add to watch list
                                    </span>
                                </a>
                                <!--<a class="list-group-item" onclick="alert('spam reporting feature soon')" style="cursor: pointer">-->
                                    <!--<i class="fa fa-flag fa-fw fa-lg"></i>&nbsp; Report-->
                                <!--</a>-->
                                <a class="list-group-item" ng-if="result.external.source.url && result.external.source.code != 'HSHTG'" ng-click="showOriginal(result)" style="cursor: pointer">
                                    <i class="fa fa-external-link-square fa-fw fa-lg"></i>&nbsp; Show original post
                                </a>
                            </div>


                            <div ng-if="result.external.source.code === 'HSHTG'" ng-init="getPostingIdQuestions()">
                                <p class="input-group">
                                    <input class="form-control" ng-model="qamodule.question" placeholder="Ask the seller a question" ng-enter="submitQuestion(qamodule.question)"/>
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-primary" ng-click="submitQuestion(qamodule.question)">Ask</button>
                                    </span>
                                </p>
                                <div ng-repeat="question in questions.store">
                                    <div class="question-counter-block">
                                        <span class="stack-question-counter fa-2x">
                                            <i class="fa fa-caret-up"></i>
                                            <div>{{question.plus.length}}</div>
                                            <i class="fa fa-caret-down"></i>
                                        </span>
                                        <div class="questions-and-answers">
                                            <div class="question">
                                                <b>Q:</b> {{question.value}}
                                            </div>
                                            <div ng-repeat="answer in question.answers">
                                                <div class="answer" ng-if="answer.value"><b>A:</b> {{answer.value}}</div>
                                            </div>
                                            <div ng-if="result.username === userObj.user_settings.name && !question.answers.length">
                                                <a class="answer" ui-sref="myposts.questions({postingId: question.postingId})">Click here to answer.</a>
                                            </div>
                                            <div ng-if="result.username !== userObj.user_settings.name && !question.answers.length">
                                                <a class="answer">The seller has been notified.</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>