<div>
    <div class="settings-header">
        <h3>Profile Settings</h3>
        <h4>Manage your profile</h4>
    </div>
</div>

<form class="form-horizontal">

    <div class="form-group">
        <label class="col-sm-2 control-label">Profile Photo</label>
        <div class="col-sm-5">

            <div ng-hide="bindingObj.currentlyUploadingProfilePhoto">
                <img class='triggerProfileImageUpload' ng-src={{userObj.user_settings.profile_photo}} width="90px;"/>
            </div>

            <div ng-show="bindingObj.currentlyUploadingProfilePhoto" id="profilePreview" dropzone="profileDropzoneConfig">

            </div>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">Banner Photo</label>

        <div class="col-sm-5">
            <div ng-hide="bindingObj.currentlyUploadingBannerPhoto">
                <img class='triggerBannerImageUpload' ng-src={{userObj.user_settings.banner_photo}} width="190px;"/>
            </div>

            <div ng-show="bindingObj.currentlyUploadingBannerPhoto" id="bannerPreview" dropzone="bannerDropzoneConfig">

            </div>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">About me</label>

        <div class="col-sm-2">
            <textarea class="form-control" ng-model="userObj.user_settings.biography" ng-change="requireUpdate()">{{userObj.user_settings.biography}}</textarea>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label"></label>
        <div class="col-sm-5">
            <button class="btn btn-success" ng-disabled="bindingObj.requireUpdate" ng-click="submitUpdatedProfile()">Submit Changes</button>
        </div>
    </div>
</form>



<!-- Template loaded into dropzone for profile upload -->
<script type="text/ng-template" id="profileUploadTemplate.tpl">
    <div>
        <!-- This is used as the file preview template -->
        <div class="triggerProfileImageUpload">
            <img class="img-circle" data-dz-thumbnail />
            <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0">
                <div class="progress-bar progress-bar-info" style="width:0%;" data-dz-uploadprogress></div>
            </div>
        </div>
        <div>
            <strong class="error text-danger" data-dz-errormessage></strong>
        </div>
    </div>
</script>


<!-- Template loaded into dropzone for heading upload -->
<script type="text/ng-template" id="bannerUploadTemplate.tpl">
    <div>
        <!-- This is used as the file preview template -->
        <div class="triggerBannerImageUpload">
            <img class="heading-banner" data-dz-thumbnail />
            <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0">
                <div class="progress-bar progress-bar-info" style="width:0%;" data-dz-uploadprogress></div>
            </div>
        </div>
        <div>
            <strong class="error text-danger" data-dz-errormessage></strong>
        </div>
    </div>
</script>