<div class="modal-header">
    <h3 class="modal-title" style="text-align: center">Share To</h3>
</div>
<div class="modal-body">

    <!--<div class="component">-->
        <div class="icon icon-mono facebook" ng-class="{ 'hold': shareToggles.facebook}" ng-click="shareToggles.facebook = !shareToggles.facebook; checkIfFacebookTokenValid();">
            <div ng-show="currentlyPublishing.facebook" class="circ-spinner"></div>
        </div>
        <div class="icon icon-mono twitter" ng-class="{ 'hold': shareToggles.twitter}" ng-click="shareToggles.twitter = !shareToggles.twitter; checkIfTwitterTokenValid()">
            <div ng-show="currentlyPublishing.twitter" class="circ-spinner"></div>
        </div>
        <div class="icon icon-mono ebay" ng-class="{ 'hold': shareToggles.ebay}" ng-click="shareToggles.ebay = !shareToggles.ebay; checkIfEbayTokenValid()">
            <div ng-show="currentlyPublishing.ebay" class="circ-spinner"></div>
        </div>
        <div class="icon icon-mono amazon" ng-class="{ 'hold': shareToggles.amazon}" ng-click="shareToggles.amazon = !shareToggles.amazon">
            <div ng-show="currentlyPublishing.amazon" class="circ-spinner"></div>
        </div>
        <div class="icon icon-mono craigslist" ng-class="{ 'hold': shareToggles.craigslist}" ng-click="shareToggles.craigslist = !shareToggles.craigslist">
            <div ng-show="currentlyPublishing.craigslist" class="circ-spinner"></div>
        </div>
    <!--</div>-->

    <h3 id="instructions">Boost your post's visibility and allow online payment.</h3>
    <h3 id="facebookBlurb">Share to your facebook timeline for friends to see.</h3>
    <h3 id="twitterBlurb">Share to your twitter timeline for friends to see.</h3>
    <h3 id="ebayBlurb">Share to your existing Ebay account.</h3>
    <h3 id="amazonBlurb">Coming soon!  Share to Amazon.</h3>
    <h3 id="craigslistBlurb">Share to your existing Craigslist account.</h3>

    <!--{{shareToggles}}-->
    <!--{{onlinePayment}}-->

</div>
<div class="modal-footer">
    <button class="btn" ng-class="currentlyPublishing.publishing ? 'btn-warning' : 'btn-primary'" ng-click="dismiss('stageTwoSuccess')" ng-disabled="{{currentlyPublishing.publishing}}">
        <span ng-show="!currentlyPublishing.publishing && shareToggles.facebook ||
         !currentlyPublishing.publishing && shareToggles.twitter ||
         !currentlyPublishing.publishing && shareToggles.ebay ||
         !currentlyPublishing.publishing && shareToggles.amazon ||
         !currentlyPublishing.publishing && shareToggles.craigslist">Share</span>


        <span ng-show="!currentlyPublishing.publishing && !shareToggles.facebook && !shareToggles.twitter && !shareToggles.ebay && !shareToggles.amazon && !shareToggles.craigslist">Continue without sharing</span>

        <span ng-show="currentlyPublishing.publishing">Please wait</span>
    </button>
</div>