<div ng-repeat="offer in post.offers.results">

    <div style="border: 1px solid; border-color: #e5e6e9 #dfe0e4 #d0d1d5; margin-bottom: 20px; padding: 0px;" class="col-md-10 col-xs-12" ng-class="{ 'dimmed': offer.proposals[cachedOffers[$index].proposals.length - 1].isOwnerReply }">
        <div style="background-color: #ffffff; padding: 10px;">
            <div>
                <img ng-src="{{offer.userProfile.profile_photo}}" height="40" style="position: relative; top: -12px;">
                <div style="display: inline-block">
                    <div>
                        @{{offer.username}}
                    </div>
                    <div>
                        {{offer.modifiedAt | date:"MMMM d 'at' h:mma"}}
                    </div>
                </div>

                <div class="form-group">

                    <div>
                        <span ng-show="offer.proposals[cachedOffers[$index].proposals.length - 1].comment"><i>"{{offer.proposals[cachedOffers[$index].proposals.length - 1].comment}}"</i></span>
                    </div>

                    <br>

                    <div class="controls">
                        <div class="input-group input-group-lg">
                            <span class="input-group-addon">$</span>
                            <input class="form-control" type="text" id="price" name="price" ng-model="offer.proposals[offer.proposals.length - 1].price.value" ng-disabled="true"/>
                        </div>
                    </div>

                    <br>

                    <div class="controls">
                        <div class="input-group input-group-lg">
                            <span class="input-group-addon">@</span>
                            <input class="form-control" type="text" id="location" name="location" ng-model="offer.proposals[offer.proposals.length - 1].where" ng-disabled="true"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="read-question">

            <div style="display: inline-block; position: relative;">
                <button class="btn btn-primary" ng-click="counterOffer($index, offer.proposals[offer.proposals.length - 1])">Send Counter Offer</button>
            </div>

            <div style="display: inline-block; position: relative;">
                <button class="btn btn-success" ng-click="acceptDeal($index, offer.proposals[offer.proposals.length - 1])">Accept Offer</button>
            </div>

        </div>
    </div>


</div>
<div class="col-xs-12">
    <span ng-show="!post.offers.results.length">Buyer's offers will appear here.</span>
</div>