<div class="row">
    <div class="col-lg-3 col-md-8 col-sm-8 col-xs-11">
        <div>
            <label>Password:</label>
            Change Password
        </div>

        <div>
            <label>Email:</label>
        </div>

        <div>
            <label>Change Photo:</label>
        </div>

        <div>
            <label>Change Header:</label>
        </div>

        <div>
            <label>Bio:</label>
        </div>

        <div>
            <label>Facebook:</label>
        </div>

        <div>
            <label>Twitter:</label>
        </div>
    </div>
</div>