<style>
    body, html {
        background-color: #ECF0F5;
        overflow-y: auto;
        overflow-x: hidden;
        font-weight: 200;
    }
</style>

<div class="container">
    <h3>HashtagSell Posting Rules</h3>
    <p>Last Updated on May 15th, 2015</p>

    <p>Effective as of May 15th, 2015</p>

    <p>We categorize any ads posted on HashtagSell. Here are some general rules to follow when posting and replying to an ad:</p>
    <ol><li>You are responsible for ensuring compliance with all applicable laws relating to items that you list, buy or sell on HashtagSell.</li>
        <li>Ads that are on our prohibited items list are not permitted.</li>
        <li>Ads or replies that contain any text that violates the spirit of HashtagSell, contains inappropriate or discriminatory language in ads, and/or &quot;hate speech&quot; directed at individuals or groups, is threatening or abusive, infringes on another user&#39;s privacy, or could disturb, harm, or offend our users, may be rejected.</li>
        <li>It is prohibited to post an item or service not located in the U.S.</li>
        <li>It is prohibited to post a duplicate or similar ad for the same item or service.</li>
        <li>Ads that are intentionally misleading, deceptive, deceitful, misinformative, or found to be using &quot;bait and switch&quot; tactics are not permitted.</li>
        <li>You can only post one ad for an item in the area that the item is actually located.</li>
        <li>We generally allow links under the following conditions:</li>
        <ul>
            <li>Link to additional product information/pictures</li>
        </ul>
        <li>Posting an ad for a unique item</li>
        <li>Sole purpose of link is not to direct more traffic to your website</li>
        <li>You do not post links to another classified site</li>
        <li>Your ad must comply with all other site policies.</li>
        <li>It is prohibited to use multiple accounts to post.</li>
        <li>It is prohibited to post pornography, nudity, or other related material that is obscene or adult in nature.</li>
        <li>It is prohibited to post ads relating to personals, dating or adult themed events or services, missed connections, or adult services.</li>
        <li>It is prohibited to infringe upon the rights of third parties. This includes, but is not limited to, infringing upon intellectual property rights such as copyright and trademark.</li>
        <li>It is prohibited to post ads that serve no other purpose than to send traffic to another web site. Ads must describe a specific item or service in order to be allowed on the site. If you include HTML code in your ad it will not work and your ad could be removed.</li>
        <li>It is prohibited to post keywords in your ad for the purpose of increasing its visibility in search results.</li>
        <li>Use of content and/or functionality of HashtagSell to send unsolicited emails, or make unsolicited contact of any kind with its users is strictly prohibited.</li>
        <li>Rules may change periodically to reflect HashtagSell&#39;s ongoing commitment to providing the safest and best user experience possible. We reserve the right to enforce these rules at our discretion and change these rules at any time. HashtagSell reserves the right to remove any ad at any time at our discretion. By posting an ad on the site you understand and have agreed to these rules.</li></ol>
    <h4>HashtagSell Prohibited Items List</h4>
    <p>The list below details a partial list of what can&#39;t be posted on HashtagSell. HashtagSell reserves the right to remove an ad at our discretion, and to alter this list at any time:</p>
    <ul>
        <li>Ads asking for donations unless from a registered charity</li>
        <li>Ads offering or looking for human adoption</li>
        <li>Ads that are adult in nature (including, but not limited to: adult toys, adult magazines, adult services, escort services, adult massages, adult job postings, dating websites, and personal ads)</li>
        <li>Airline tickets that restrict transfer and tickets of any kind which you are not authorized to sell</li>
        <li>Alcoholic Beverages</li>
        <li>Animals/pets</li>
        <li>Animals traps that could be deemed inhumane</li>
        <li>Blood, Bodily Fluids and Body Parts</li>
        <li>Burglary Tools</li>
        <li>Counterfeit Products, replicas or knock-off brand name goods</li>
        <li>Coupons or gift cards that restrict transfer, and coupons or gift cards which you are not authorized to sell</li>
        <li>Electronically delivered gift cards or electronic &quot;scanned&quot; coupons</li>
        <li>Cribs (new and used) unless they meet the new federal safety standards issued by the CPSC. Only cribs that were manufactured in 2011 or later are permitted. If your crib was manufactured in 2011 or later and meets the required safety standards, you must specifically state in your listing that the crib was manufactured in 2011 or later and does meet these standards (please visit the CPSC website for more information)</li>
        <li>Electronic Surveillance Equipment designed or used primarily to illegally intercept/record the private actions or interactions of others without their knowledge or permission</li>
        <li>Embargoed Goods</li>
        <li>Endangered or protected species, or any part of any endangered or protected species (including bone/ivory, taxidermy, shell, pelts, etc)</li>
        <li>Food and food products</li>
        <li>Fireworks, Destructive Devices and Explosives</li>
        <li>Gift cards of any kind</li>
        <li>Government and Transit Badges, Uniforms, IDs, Documents and Licenses</li>
        <li>Hazardous Materials including but not limited to radioactive, toxic and explosive materials</li>
        <li>Identity Documents, Personal Financial Records &amp; Personal Information</li>
        <li>Illegal Drugs, controlled substances, substances and items used to manufacture controlled substances and drugs, &amp; drug paraphernalia</li>
        <li>Illegal telecommunication and electronics equipment such as access cards, password swiffers, any type of jamming device, traffic signal control devices, satellite/cable descrambler, or any device prohibited by the FCC</li>
        <li>Items issued to United States Armed Forces that have not been disposed of in accordance with Department of Defense demilitarization policies</li>
        <li>Items marketed inappropriately with an intolerant regard toward religion, sexual orientation, race, or ethnic background</li>
        <li>Items that restrict transfer (such as tickets or coupons) and items you are not authorized to sell</li>
        <li>Items which encourage or facilitate illegal activity</li>
        <li>Liquor licenses</li>
        <li>Lottery Tickets, Sweepstakes Entries and Slot Machines that requires money to operate</li>
        <li>Material, artwork, and/or photographs that are obscene, contain nudity (partial or full), pornographic, adult in nature, or harmful to minors</li>
        <li>Material that infringes copyright, including but not limited to software or other digital goods which you are not authorized to sell</li>
        <li>Modded gaming items and modification services</li>
        <li>Nonprescription drugs, drugs that make false or misleading treatment claims, or treatment claims that require FDA approval</li>
        <li>Offensive Material</li>
        <li>Pesticides or hazardous materials</li>
        <li>Pictures or images that contain nudity</li>
        <li>Plants and insects that are restricted or regulated</li>
        <li>Prescription Drugs and Devices</li>
        <li>Products being sold by representatives of companies that violate our jobs/services policies</li>
        <li>Prostitution or ads that offer sex, sexual favors or sexual actions in exchange for anything</li>
        <li>Recalled items (please visit the US recall information website for more information)</li>
        <li>Stocks and Other Securities</li>
        <li>Stolen Property</li>
        <li>Tobacco and Related Products (including, but not limited to: nicotine patches, nicotine gum, e-cigarettes, etc)</li>
        <li>Used bedding and clothing, unless sanitized in accordance with law (used undergarments, swimwear and socks are never permitted)</li>
        <li>Used cosmetics or toiletries (items must be new and sealed)</li>
        <li>Weapons and related items (including, but not limited to firearms, magazines and all parts and accessories, ammunition, BB and pellet guns, tear gas, tasers, stun guns, knives, swords, airsoft guns and all accessories, crossbows, archery bows, and martial arts weapons)</li>
    </ul>

    <p>Last Modified: 15th May 2015<br>
    © 2015 HashtagSell, Inc.</p>
</div>