<div ui-view>
    <div class="col-xs-12">
        <b>From:</b> @{{question.username}}
        <!--<div ng-if="question.createdAt"><b>Created at:</b> {{question.createdAt | date : 'EEE, MMM d h:mm a'}}</div>-->
        <!--<div ng-if="question.modifiedAt"><b>Modified at:</b> {{question.modifiedAt | date : 'EEE, MMM d h:mm a'}}</div>-->
        <br>
        <br>
        <div>
            Q: {{question.value}}
        </div>
        <div ng-show="question.answers.length">
            <div ng-repeat="answer in question.answers">
                A: {{answer.value}}
            </div>
        </div>
        <br>
        <br>
        <textarea rows="5" cols="50" placeholder="Type your answer here" ng-model="question.givenAnswer"></textarea>
        <br>
        <br>
        <div>
            <button class="btn btn-danger" ng-click="deleteQuestion()">Delete Question</button>
            <button ng-show="question.answers.length" class="btn btn-success" ng-disabled="!question.givenAnswer" ng-click="updateAnswer()">Update Answer</button>
            <button ng-show="!question.answers.length" class="btn btn-success" ng-disabled="!question.givenAnswer" ng-click="submitAnswer()">Submit Answer</button>
        </div>
        <!--{{question}}-->
    </div>
</div>