<style>
    .top-level {
        height: 100%;
    }

    .body-main {
        background: url("//static.hashtagsell.com/htsApp/backdrops/flyingPigeon_dark_compressed.jpg") no-repeat center center fixed;
        background-size: cover;
        height: 100%;
        width: 100%;
    }

    .root {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        overflow-y: auto;
        overflow-x: hidden;
    }
</style>


<!--TODO: Test on iphone, handle if images are not present, overflow y scroll testing-->
<div class="payment-container col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-xs-12" style="position: relative">

    <div class="inner-payment-container">

        <div class="payment-logo-container">
            <img src="//static.hashtagsell.com/logos/hts/HTS_Logo_White_512w.png" class="payment-hts-logo">
        </div>


        <div style="text-align: center; margin-top: 10px; margin-bottom: 10px;" ng-if="posting.images[0].thumbnail || posting.images[0].full">
            <img ng-show="sellerProfile.user.profile_photo" ng-src="{{sellerProfile.user.profile_photo}}" class="img-circle" style="height: 80px; border: 5px solid #fff; display: inline-block; position: relative; right: -50px;">
            <img ng-show="posting.images[0].thumbnail || posting.images[0].full" ng-src="{{posting.images[0].thumbnail || posting.images[0].full}}" class="img-thumbnail" style="max-height: 120px;">
            <img ng-show="buyerProfile.user.profile_photo" ng-src="{{buyerProfile.user.profile_photo}}" class="img-circle" style="height: 80px; border: 5px solid #fff; display: inline-block; position: relative; left: -50px;">
        </div>

        <div style="text-align: center; margin-top: 10px; margin-bottom: 10px;" ng-if="!posting.images[0].thumbnail || !posting.images[0].full">
            <img ng-show="sellerProfile.user.profile_photo" ng-src="{{sellerProfile.user.profile_photo}}" class="img-circle" style="height: 80px; border: 5px solid #fff; display: inline-block;">
            <div style="font-weight: 200!important; font-size: 36px; color: white">{{posting.heading}}</div>
            <img ng-show="buyerProfile.user.profile_photo" ng-src="{{buyerProfile.user.profile_photo}}" class="img-circle" style="height: 80px; border: 5px solid #fff; display: inline-block;">
        </div>

        <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">
            <span ng-bind-html="alert.msg"></span>
        </alert>

        <form action="/payments/purchase" method="post" ng-show="!alerts.length">

            <braintree-dropin options="dropinOptions">
                Loading payment form...
            </braintree-dropin>

            <input type="hidden" name="token" value="{{posting.postingId}}"/>

            <button type="submit" class="btn btn-lg btn-primary btn-block">Send {{posting.askingPrice.value| currency : $}} to {{posting.username}}</button>

        </form>

    </div>

</div>