<div class="modal-header">
    <h3 class="modal-title" style="text-align: center; font-weight: 100 !important">Share To</h3>
</div>
<div class="modal-body">

    <div class="settings">

        <div class="row">
            <div class="question">
                Share to your Facebook?
            </div>
            <div class="switch">
                <input id="cmn-toggle-1" class="cmn-toggle cmn-toggle-round" type="checkbox" ng-model="shareToggles.facebook">
                <label for="cmn-toggle-1"></label>
            </div>
        </div><!-- /row -->

        <div class="row">
            <div class="question">
                Share to your Twitter?
            </div>
            <div class="switch">
                <input id="cmn-toggle-2" class="cmn-toggle cmn-toggle-round" type="checkbox" ng-model="shareToggles.twitter">
                <label for="cmn-toggle-2"></label>
            </div>
        </div><!-- /row -->

        <div class="row">
            <div class="question">
                Share to your eBay?
            </div>
            <div class="switch">
                <input id="cmn-toggle-3" class="cmn-toggle cmn-toggle-round" type="checkbox" ng-model="shareToggles.ebay">
                <label for="cmn-toggle-3"></label>
            </div>
        </div><!-- /row -->

        <!--<div class="row">-->
            <!--<div class="question">-->
                <!--Share to your Amazon Seller account?-->
            <!--</div>-->
            <!--<div class="switch">-->
                <!--<input id="cmn-toggle-4" class="cmn-toggle cmn-toggle-round-flat" type="checkbox" ng-model="shareToggles.amazon" ng-disabled="true">-->
                <!--<label for="cmn-toggle-4"></label>-->
            <!--</div>-->
        <!--</div>&lt;!&ndash; /row &ndash;&gt;-->

        <!--<div class="row">-->
            <!--<div class="question">-->
                <!--Share to your Craigslist?-->
            <!--</div>-->
            <!--<div class="switch">-->
                <!--<input id="cmn-toggle-5" class="cmn-toggle cmn-toggle-round-flat" type="checkbox" ng-model="shareToggles.craigslist" ng-disabled="true">-->
                <!--<label for="cmn-toggle-5"></label>-->
            <!--</div>-->
        <!--</div>&lt;!&ndash; /row &ndash;&gt;-->

        <div class="row">
            <div class="question">
                Allow Online Payment from Buyer?
            </div>
            <div class="switch">
                <input id="cmn-toggle-7" class="cmn-toggle cmn-toggle-yes-no" type="checkbox" ng-model="onlinePayment.allow">
                <label for="cmn-toggle-7" data-on="Yes" data-off="No"></label>
            </div>
        </div><!-- /row -->

    </div>

    <!--{{shareToggles}}-->

    <!--{{onlinePayment}}-->


</div>
<div class="modal-footer" style="background-color:rgba(235, 121, 121, .9);">
    <button class="btn btn-default" ng-click="dismiss('stageTwoSuccess')">Next</button>
</div>