<div>
    <div class="settings-header">
        <h3>Payment & Shipping Settings</h3>
        <h4>Payment</h4>
    </div>

    <sub-merchant></sub-merchant>



    <div class="settings-header">
        <h4>Shipping</h4>
    </div>

    <div class="container">
        <form class="form-horizontal">
            <fieldset>

                <!-- Select Basic -->
                <div class="form-group">
                    <div class="col-md-8">
                        <h4>Yep, we're building in shipping support, and it's going to be awesome!</h4>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>

</div>
