<div>
    <div class="settings-header">
        <h3>Payment & Shipping Settings</h3>
        <h4>Payment</h4>
    </div>

    <sub-merchant></sub-merchant>



    <div class="settings-header">
        <h4>Shipping</h4>
    </div>
    <form class="form-horizontal" role="form">
        <fieldset>
            <div class="form-group">
                <label class="col-sm-9 control-label">Hang tight... We're building a shipping solution, and it's going to be awesome!</label>
            </div>
        </fieldset>
    </form>
</div>
